<ngx-spinner
  bdColor="#f7f7f7"
  template="<img class='spinner-img' src='./assets/imgs/JPSLOGO.png'/>"
></ngx-spinner>
<app-toastr #toaster></app-toastr>
<app-nav-bar></app-nav-bar>

<!-- hero section -->
<section
  appAnimateOnScroll
  class="hero d-flex align-items-end overflow-hidden"
  id="hero"
>
  <div class="background">
    <img src="./assets/imgs/unsplash_dBOZ7XL4b_E.png" alt="background" />
    <div class="gradient"></div>
  </div>
  <div class="container d-flex justify-content-around flex-column">
    <div class="row">
      <div class="col-xl-6 d-flex justify-content-center mt-5">
        <div class="heading">
          <div class="mb-5 title">
            <h1>معنا للإيجار معنى</h1>
            <h2 class="fw-normal">أبحث و استأجر بسهولة من مكانك في اي وقت</h2>
          </div>
          <div class="search-field px-3 py-2">
            <app-search-bar></app-search-bar>
          </div>
        </div>
      </div>

      <div class="col-xl-6 d-flex justify-content-center image-slider">
        <div
          class="slider-container d-flex gap-4 overflow-hidden position-relative"
        >
          <div class="column" id="column-1">
            <div class="slide overflow-hidden my-3">
              <img src="./assets/imgs/4.png" alt="image" />
            </div>
            <div class="slide overflow-hidden my-3">
              <img src="./assets/imgs/3.png" alt="image" />
            </div>
            <div class="slide overflow-hidden my-3">
              <img src="./assets/imgs/2.png" alt="image" />
            </div>
            <div class="slide overflow-hidden my-3">
              <img src="./assets/imgs/1.jpg" alt="image" />
            </div>
          </div>
          <div class="column" id="column-2">
            <div class="slide overflow-hidden my-3">
              <img src="./assets/imgs/8.png" alt="image" />
            </div>
            <div class="slide overflow-hidden my-3">
              <img src="./assets/imgs/7.png" alt="image" />
            </div>
            <div class="slide overflow-hidden my-3">
              <img src="./assets/imgs/6.png" alt="image" />
            </div>
            <div class="slide overflow-hidden my-3">
              <img src="./assets/imgs/5.jpg" alt="image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row title-underImgs">
      <div
        class="d-flex justify-content-center align-items-center p-2 title mt-4"
      >
        <h3>وحدتك عندنا.. معك خطوة بخطوة</h3>
      </div>
    </div>
  </div>
</section>

<!-- popular Apartments section -->
<section
  appAnimateOnScroll
  class="popular-apartments overflow-hidden p-5 position-relative"
  id="popular_apartment"
>
  <div class="container-fluid mx-auto my-5 position-relative">
    <div class="container-background">
      <img src="./assets/imgs/popular-wallpaper.png" alt="background" />
      <div class="gradient"></div>
    </div>
    <h2 class="title">المميزة</h2>
  </div>

  <div class="top-layer overflow-hidden">
    <div class="blur-overlay"></div>
    <div
      class="container h-100 d-flex justify-content-center flex-column py-5 mx-0"
    >
      <div
        class="header d-flex justify-content-between align-items-center px-5"
      >
        <div class="title">
          <h2>الشقق المميزة</h2>
          <p
            class="mb-0 fw-light d-flex gap-2 align-items-center"
            routerLink="/best-apartments"
          >
            <i class="fa-solid fa-arrow-right"></i>
            تصفح الكل (20)
          </p>
        </div>
        <div class="slider-arrows d-flex align-items-center gap-4">
          <button (click)="triggerPrev('apartment')" class="prev-btn btn">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
          <button (click)="triggerNext('apartment')" class="next-btn btn">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
        </div>
      </div>

      <!-- Apartments auto generated from JS -->
      <div class="carousel-container">
        <swiper-container
          #apartmentSwiper
          [speed]="500"
          [spaceBetween]="5"
          [breakpoints]="apartmentsBreakpoints"
          (swiperslidechangetransitionend)="onSwipe()"
        >
          <swiper-slide
            *ngFor="let apartment of specialApartments; let i = index"
          >
            <div
              class="card mx-2 d-flex flex-column justify-content-between"
              [ngClass]="{ 'last-visible': isLastVisible(i) }"
              (click)="productDetails(apartment.id)"
            >
              <div class="background">
                <img
                  [src]="
                    apartment.images[
                      currentSpecialApartmentImageIndex[apartment.id] || 0
                    ]
                  "
                  alt="image"
                />
                <div class="gradient"></div>
              </div>

              <!-- Previous Button -->
              <div
                class="arrow prev-arrow d-flex align-items-center justify-content-center"
                *ngIf="canGoPrev(apartment.id, 'specialApartment')"
                (click)="
                  changeImage(apartment.id, 'prev', $event, 'specialApartment')
                "
              >
                <i class="fa-solid fa-chevron-left"></i>
              </div>

              <!-- Next Button -->
              <div
                class="arrow next-arrow d-flex align-items-center justify-content-center"
                *ngIf="canGoNext(apartment.id, 'specialApartment')"
                (click)="
                  changeImage(apartment.id, 'next', $event, 'specialApartment')
                "
              >
                <i class="fa-solid fa-chevron-right"></i>
              </div>

              <div
                class="like d-flex justify-content-between align-items-center my-4"
              >
                <div
                  class="heart-icon"
                  (click)="
                    removeFromFav(apartment.id, apartment.images[0], $event)
                  "
                  *ngIf="favProperties.includes(apartment.id)"
                >
                  <i class="fa-solid fa-heart"></i>
                </div>
                <div
                  class="heart-icon"
                  (click)="addToFav(apartment.id, apartment.images[0], $event)"
                  *ngIf="!favProperties.includes(apartment.id)"
                >
                  <i class="fa-regular fa-heart"></i>
                </div>

                <div class="popular-badge mx-3">
                  <i class="fa-solid fa-star"></i> مميزة
                </div>
              </div>

              <div class="card_body px-3 pb-3">
                <div class="apartment-title d-flex justify-content-between">
                  <div>
                    <h3 class="mb-1 h4">{{ apartment.type }}</h3>
                    <div class="d-flex align-items-center gap-2">
                      <span class="rating py-1 px-2 rounded-3 fw-bold">
                        <i class="fa-solid fa-star rating-color"></i>
                        {{ apartment.rating }}
                      </span>
                      <p class="mb-0 d-flex align-items-center gap-1 fw-light">
                        <img
                          src="./assets/imgs/icons/location-light.png"
                          alt="location icon"
                        />
                        {{ apartment.city_name }}
                      </p>
                    </div>
                    <p class="mb-0 fw-light">
                      {{ apartment.reservedtill }}
                    </p>
                  </div>
                  <div class="paginator d-flex gap-1 mt-3">
                    <div
                      class="dot"
                      *ngFor="
                        let img of apartment.images.slice(0, 4);
                        let idx = index
                      "
                      [ngClass]="{
                        active:
                          idx ===
                          (currentSpecialApartmentImageIndex[apartment.id] || 0)
                      }"
                    ></div>
                  </div>
                </div>
                <div class="separator">
                  <img src="./assets/imgs/Separator.svg" alt="separator" />
                </div>
                <div class="chips-badges d-flex gap-1">
                  <div class="chip d-flex align-items-center gap-1">
                    <img
                      src="./assets/imgs/icons/door-white.png"
                      alt="door icon"
                    />
                    {{ apartment.rooms }}
                  </div>
                  <div class="chip d-flex align-items-center gap-1">
                    <img
                      src="./assets/imgs/icons/bed-white.png"
                      alt="bed icon"
                    />
                    {{ apartment.beds }}
                  </div>

                  <div class="chip d-flex align-items-center gap-1">
                    <img
                      src="./assets/imgs/icons/bath-white.png"
                      alt="bath icon"
                    />
                    {{ apartment.bathrooms }}
                  </div>
                  <div class="chip d-flex align-items-center gap-1">
                    <img
                      src="./assets/imgs/icons/doc-white.png"
                      alt="docs icon"
                    />
                    {{ apartment.contractperiod }}
                  </div>
                </div>
                <div
                  class="apartment-details d-flex justify-content-between align-items-center mt-2"
                >
                  <div>
                    <h4 class="price mb-1 h5">
                      {{ apartment.price | currency : "EGP" : "code" : "1.0-0"
                      }}<span class="fw-light">/يوم</span>
                    </h4>
                    <p class="mb-0 fw-light">
                      المضيف : {{ apartment.broker_name }}
                    </p>
                  </div>
                  <img
                    (click)="openShareModal($event)"
                    src="./assets/imgs/icons/share-light.png"
                    alt="share icon"
                  />
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>

<!-- popular districts section -->
<section
  appAnimateOnScroll
  class="popular-districts overflow-hidden"
  id="popular_districts"
>
  <div pDefer>
    <ng-template>
      <div class="container-fluid my-5 position-relative">
        <div
          class="header overflow-hidden d-flex justify-content-between align-items-center mx-5"
        >
          <div class="title">
            <h2>المدن الأكثر بحثا</h2>
            <a
              routerLink="/best-districts"
              class="mb-0 fw-light d-flex gap-2 align-items-center"
            >
              <i class="fa-solid fa-arrow-right"></i>
              تصفح الكل (20)
            </a>
          </div>

          <div class="slider-arrows d-flex align-items-center gap-4">
            <button (click)="triggerPrev('district')" class="prev-btn btn">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
            <button (click)="triggerNext('district')" class="next-btn btn">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </div>
        </div>

        <!-- Districts auto generated from JS -->
        <div class="carousel-container mt-5">
          <swiper-container
            #districtSwiper
            [slidesPerView]="4"
            [speed]="500"
            [spaceBetween]="5"
            [breakpoints]="districtBreakpoints"
          >
            <swiper-slide *ngFor="let city of cities">
              <div class="card mx-3 d-flex flex-column justify-content-between">
                <div class="background">
                  <img [src]="city.image" alt="popular-district" />
                  <div class="gradient"></div>
                </div>
                <div class="hover-overlay"></div>
                <div class="district-name">
                  <div class="title d-flex align-items-center gap-2">
                    <img
                      *ngIf="city.properties.message"
                      src="./assets/imgs/icons/lock-light.png"
                      alt="white lock icon"
                    />
                    <h2>{{ city.name }}</h2>
                  </div>
                  <p class="mb-0 text-start">{{ city.description }}</p>
                </div>
                <div class="apartment-list">
                  <div
                    class="more d-flex justify-content-between mb-3"
                    routerLink="/best-apartments"
                  >
                    <i
                      routerLink="/best-apartments"
                      class="fa-solid fa-arrow-right"
                    ></i>
                    Show all ({{ city.properties.length }})
                  </div>
                  <ng-container *ngIf="city.properties.length > 0">
                    <div class="apartments-wrapper">
                      <div
                        class="apartment d-flex gap-3 align-items-center my-4"
                        *ngFor="let property of city.properties"
                        (click)="productDetails(property.id)"
                      >
                        <div class="apartment-image overflow-hidden">
                          <img
                            [src]="
                              property.images[
                                currentCitiesApartmentImageIndex[property.id] ||
                                  0
                              ]
                            "
                            alt="image"
                          />
                          <div
                            class="heart-icon"
                            (click)="
                              removeFromFav(
                                property.id,
                                property.images[0],
                                $event
                              )
                            "
                            *ngIf="favProperties.includes(property.id)"
                          >
                            <i class="fa-solid fa-heart"></i>
                          </div>
                          <div
                            class="heart-icon"
                            (click)="
                              addToFav(property.id, property.images[0], $event)
                            "
                            *ngIf="!favProperties.includes(property.id)"
                          >
                            <i class="fa-regular fa-heart"></i>
                          </div>

                          <!-- Previous Button -->
                          <div
                            class="arrow prev-arrow d-flex align-items-center justify-content-center"
                            *ngIf="canGoPrev(property.id, 'citiesApartment')"
                            (click)="
                              changeImage(
                                property.id,
                                'prev',
                                $event,
                                'citiesApartment'
                              )
                            "
                          >
                            <i class="fa-solid fa-chevron-left"></i>
                          </div>

                          <!-- Next Button -->
                          <div
                            class="arrow next-arrow d-flex align-items-center justify-content-center"
                            *ngIf="canGoNext(property.id, 'citiesApartment')"
                            (click)="
                              changeImage(
                                property.id,
                                'next',
                                $event,
                                'citiesApartment'
                              )
                            "
                          >
                            <i class="fa-solid fa-chevron-right"></i>
                          </div>

                          <div class="paginator d-flex gap-1 mt-3">
                            <div
                              class="dot"
                              *ngFor="
                                let img of property.images.slice(0, 4);
                                let idx = index
                              "
                              [ngClass]="{
                                active:
                                  idx ===
                                  (currentCitiesApartmentImageIndex[
                                    property.id
                                  ] || 0)
                              }"
                            ></div>
                          </div>
                        </div>

                        <div
                          class="apartment-details d-flex flex-column gap-2 w-100"
                        >
                          <div
                            class="apartment-name d-flex justify-content-between gap-2"
                          >
                            <div class="title">
                              <p class="mb-0">
                                المضيف : {{ property.broker_name }}
                              </p>
                              <h3 class="h6 my-1">
                                {{ property.type }}
                              </h3>
                              <p class="mb-0 d-flex gap-1 align-items-center">
                                <img
                                  src="./assets/imgs/icons/location-dark.png"
                                  alt="share icon"
                                />
                                {{ city.name }}
                              </p>
                              <p class="mb-0 fw-light">
                                {{ property.reservedtill }}
                              </p>
                            </div>
                            <img
                              (click)="openShareModal($event)"
                              src="./assets/imgs/icons/share-dark.png"
                              alt="share icon"
                            />
                          </div>

                          <div class="chips-badges d-flex gap-1">
                            <div class="chip d-flex align-items-center gap-1">
                              <img
                                src="./assets/imgs/icons/bath-colored.png"
                                alt="bath icon"
                              />
                              {{ property.bathrooms }}
                            </div>
                            <div class="chip d-flex align-items-center gap-1">
                              <img
                                src="./assets/imgs/icons/bed-colored.png"
                                alt="bed icon"
                              />
                              {{ property.bedrooms }}
                            </div>
                            <div class="chip d-flex align-items-center gap-1">
                              <img
                                src="./assets/imgs/icons/door-colored.png"
                                alt="door icon"
                              />
                              {{ property.rooms }}
                            </div>
                            <div class="chip d-flex align-items-center gap-1">
                              <img
                                src="./assets/imgs/icons/doc-colored.png"
                                alt="docs icon"
                              />
                              {{ property.contractperiod }}
                            </div>
                          </div>

                          <div
                            class="price-rating mt-1 d-flex justify-content-between align-items-center"
                          >
                            <div class="rating">
                              <i class="fa-solid fa-star"></i
                              >{{ property.rating }}
                              <span>({{ property.reviewsCount }} تقييم)</span>
                            </div>
                            <div class="price">
                              <h3 class="h6 mb-0">
                                {{
                                  property.price
                                    | currency : "EGP" : "code" : "1.0-0"
                                }}
                              </h3>
                              <p class="mb-0">لليوم الواحد</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="city.properties.message">
                    <div
                      class="d-flex flex-column align-items-center justify-content-center notAvailable"
                    >
                      <img
                        class="my-5"
                        src="./assets/imgs/icons/sand hour.png"
                        alt="sand clock icon"
                      />
                      <h3 class="h1 text-center mb-4">سيكون متاح قريبا</h3>
                      <p class="text-center w-75 mb-0">
                        هذا المكان غير متوفر حاليا ولكن سيكون متاح ف المستقبل
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </ng-template>
  </div>
</section>

<!-- popular hotels section -->

<!-- <section
  appAnimateOnScroll
  class="popular-hotels overflow-hidden p-5 my-4 position-relative"
>
  <div class="container py-5">
    <div class="blur-overlay"></div>
    <div
      class="header d-flex justify-content-between align-items-center px-5 mb-4"
    >
      <div class="title">
        <h2>الفنادق المميزة</h2>
        <p class="mb-0 fw-light d-flex gap-2 align-items-center">
          <i class="fa-solid fa-arrow-right"></i>
          تصفح الكل (20)
        </p>
      </div>
      <div class="slider-arrows d-flex align-items-center gap-4">
        <button (click)="triggerPrev('hotel')" class="prev-btn btn">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
        <button (click)="triggerNext('hotel')" class="next-btn btn">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
    </div>

    <swiper-container
      #hotelSwiper
      [speed]="500"
      [breakpoints]="HotelsBreakpoints"
    >
      <swiper-slide *ngFor="let apartment of [1, 2, 3, 4]">
        <div class="card overflow-hidden d-flex justify-content-end p-3">
          <div class="overlay"></div>

          <div class="apartment-preview mb-2">
            <img
              src="./assets/imgs/popular-apartments/1.png"
              alt="apartment image"
              class="apartment-image"
            />
            <div class="offer-value">
              <p class="mb-0 fw-bold">خصم 25%</p>
            </div>
          </div>

          <div class="apartment-information">
            <div class="apartment-name mb-1">
              <h3 class="h6 my-1">اسم الفندق</h3>
              <div class="d-flex align-items-center gap-2">
                <div
                  class="rating d-flex align-items-center gap-1 p-1 rounded-3"
                >
                  <i class="fa-solid fa-star rating-color"></i> 4.8
                </div>
                <p class="location mb-0 d-flex gap-1 align-items-center">
                  <i class="fa-solid fa-location-dot"></i>
                  6 اكتوبر
                </p>
              </div>
              <p class="host-name mb-0">المضيف : كيرلس عادل</p>
            </div>

            <h3 class="h6 fw-normal price mb-0 text-end mb-1">
              <span class="fw-bold">يبدا من</span> 1000.00جنيه / يوم
            </h3>

            <p>9 - 14 اكتوبر</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section> -->

<!-- Gallery section
<section class="gallery overflow-hidden py-4">
  <div class="container-fluid" pDefer>
    <ng-template>
      <div class="row g-3">
        <div class="col-12">
          <div
            id="row-1"
            class="image-row justify-content-center top-row d-flex align-items-end gap-2"
          >
            <div class="image">
              <img src="./assets/imgs/homeSlider/image 23.png" alt="" />
            </div>
            <div class="image">
              <img src="./assets/imgs/homeSlider/image 20.png" alt="" />
            </div>
            <div class="image">
              <img src="./assets/imgs/homeSlider/image 21.png" alt="" />
            </div>
            <div class="image">
              <img src="./assets/imgs/homeSlider/image 22.png" alt="" />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div
            id="row-2"
            class="image-row justify-content-center bottom-row d-flex align-items-start gap-2"
          >
            <div class="image">
              <img src="./assets/imgs/homeSlider/image 24.png" alt="" />
            </div>
            <div class="image">
              <img src="./assets/imgs/homeSlider/image 25.png" alt="" />
            </div>
            <div class="image">
              <img src="./assets/imgs/homeSlider/image 26.png" alt="" />
            </div>
            <div class="image">
              <img src="./assets/imgs/homeSlider/image 27.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section> -->

<!-- Jps advices section -->
<section appAnimateOnScroll class="advices overflow-hidden my-5">
  <div class="container-background">
    <img src="./assets/imgs/popular-wallpaper.png" alt="background" />
    <div class="blur"></div>
    <div class="gradient"></div>
  </div>
  <div class="container my-5">
    <div class="title mb-5">
      <h2 class="fw-bold">
        <!-- <span class="fw-bold">نصائح من JPS</span> للعملاء والمالكين -->
        نصائح للمالكين والمستأجرين للحصول على تجربة إيجار مميزة
      </h2>
      <p class="fw-light">
        إرشادات لضمان تجربة إيجار احترافية وشفافة تلبي احتياجات المالك والمستأجر
        على حد سواء
      </p>
    </div>

    <div class="row g-4">
      <div class="col-lg-6">
        <div
          class="clients-advices d-flex flex-column justify-content-around align-items-start rounded-4 p-5 h-100"
        >
          <h4 class="mb-5">المستأجر</h4>

          <ul class="advices p-0 m-0">
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/searchh.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>التحقق من التفاصيل قبل الحجز</h5>
                <p class="mb-0">
                  اقرأ الوصف بعناية، وشاهد الصور،واطلع علي التقييمات من مستأجرين
                  سابقين لتتأكد من أن الوحدة تناسب احتياجاتك
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/legal.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>الالتزام بالقواعد والقوانين</h5>
                <p class="mb-0">
                  •التزم بالقواعد المحددة من قِبل المالك مثل عدم التدخين في
                  الوحدة أو الالتزام بعدد المستأجرين المسموح بهم، وأيضا سياسة
                  الإلغاء. هذا يساعد في ضمان تجربة إيجار مريحة للطرفين كما
                  يساعدك علي التأكد من ان الوحدة تلبي احتياجاتك قبل الحجز
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/health-care.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>المحافظة على الوحدة</h5>
                <p class="mb-0">
                  تعامل مع الوحدة باحترام، وابلغ عن أي أضرار أو أعطال فور حدوثها
                  لتجنب مشاكل لاحقة.
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/star-rate.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>التقييم والملاحظات</h5>
                <p class="mb-0">
                  اترك تقييما صادًقا بعد الإقامة، فهو يساعد المالك والمستأجرين
                  الآخرين في اتخاذ قرارات صحيحة.
                </p>
                <p class="mb-0">
                  إذا واجهت مشكلة، حاول التواصل مع المالك أو الموقع لحلها بدًال
                  من ترك تقييم سلبي مباشرة.
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/deal.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>الاحترام المتبادل</h5>
                <p class="mb-0">
                  •الحفاظ على التفاهم والاحترام بينك وبين المالك يسهم في خلق
                  تجربة إيجابية للطرفين.
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/contract-dark.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>الاحتفاظ بالمستندات</h5>
                <p class="mb-0">
                  تأكد من أن الحجز موثق على الموقع لتجنب أي لبس أو سوء فهم .
                </p>
              </div>
            </li>
          </ul>

          <button
            class="btn px-4 py-2 fs-4 rounded-5 mt-4"
            routerLink="/home"
            fragment="hero"
          >
            <i class="fa-solid fa-arrow-right"></i>
            احجز وحدتك الان
          </button>
        </div>
      </div>

      <div class="col-lg-6">
        <div
          class="owners-advices d-flex flex-column justify-content-around align-items-start rounded-4 p-5 h-100"
        >
          <h4 class="mb-5">المالك</h4>

          <ul class="advices p-0 m-0">
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/painting.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>توفير وصف دقيق لوحدتك</h5>
                <p class="mb-0">تأكد من تقديم تفاصيل دقيقة وصادقة عن وحدتك.</p>
                <p class="mb-0">
                  قم بتحديث الصور بانتظام لتعكس الوضع الحالي للوحدة لضمان
                  مصداقية المعلومات.
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/house-keeping.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>الحفاظ على نظافة وحدتك</h5>
                <p class="mb-0">
                  الاهتمام بالنظافة يعكس احترافية عالية، ويزيد من رضا
                  المستأجرين، مما يساهم في تحسين التقييمات بشكل كبير.
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/easy.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>المرونة في التعامل</h5>
                <p class="mb-0">
                  حاول أن تكون مرنًا في وضع قوانين وحدتك وسياسة الإلغاء، مما
                  يسهل تجربة المستأجر ويزيد من فرصة تأجير الوحدة بسرعة.
                </p>
                <p class="mb-0">
                  في حال حدوث تغييرات أو مشكلات غير متوقعة، يجب أن يكون هناك
                  تفاهم ومرونة من الطرفين لحل الأمور بشكل ايجابي .
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/cost.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>الشفافية في التسعير والقواعد</h5>
                <p class="mb-0">
                  تسعير وحدتك بشكل منطقي ومتوافق مع السوق يعزز سهولة وسرعة تأجير
                  الوحدة ويخلق تجربة إيجابية للطرفين.
                </p>
                <p class="mb-0">
                  حدد القواعد بشكل صريح&#10088;مثل عدد المستأجرين المسموح بهم،
                  قواعد التدخين، والحيوانات الأليفة &#10089;
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/switch.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>احترام الخصوصية</h5>
                <p class="mb-0">
                  يجب على المالك احترام خصوصية المستأجرين وعدم الدخول إلى الوحدة
                  دون إذن مسبق أو إشعار وهذا يزيد من التفاهم واالحترام بينك وبين
                  المستأجر ويخلق تجربة إيجابية بين الطرفين.
                </p>
              </div>
            </li>
            <li
              class="mb-3 d-flex gap-4 justify-content-start align-items-start"
            >
              <img src="./assets/imgs/icons/contract.png" alt="icon" />
              <div class="d-flex flex-column">
                <h5>الاحتفاظ بالمستندات</h5>
                <p class="mb-0">
                  تأكد من أن الحجز موثق على الموقع لتجنب أي لبس أو سوء فهم بينك
                  وبين المستأجر.
                </p>
              </div>
            </li>
          </ul>

          <button
            class="btn px-4 py-2 fs-4 rounded-5 mt-4"
            routerLink="/contact"
            fragment="contact_form"
          >
            <i class="fa-solid fa-arrow-right"></i>
            قم بتأجير وحدتك الان
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About section -->
<section appAnimateOnScroll class="about overflow-hidden p-5" id="about_JPS">
  <div class="container my-5">
    <div class="container-background">
      <img src="./assets/imgs/popular-wallpaper.png" alt="background" />
      <div class="blur"></div>
      <div class="gradient"></div>
    </div>

    <div class="header mx-3">
      <h2 class="h1">عن JPS</h2>
      <p class="d-flex align-items-center gap-2 fw-light">
        <i class="fa-solid fa-arrow-right"></i>
        مشاهدة المزيد
      </p>
    </div>

    <div class="row justify-content-between mx-3">
      <div class="col-lg-4 position-relative">
        <div class="image-side">
          <div class="image overflow-hidden">
            <img src="./assets/imgs/about-section-image.png" alt="about-us" />
          </div>
          <div class="users-cards">
            <div
              class="user-card border-0 d-flex flex-row-reverse justify-content-start align-items-center gap-3"
            >
              <p class="text-center mb-0 mx-auto">خد راحتك .. استأجر براحتك</p>
            </div>

            <div
              class="user-card border-0 d-flex flex-row-reverse justify-content-start align-items-center gap-3"
            >
              <p class="text-center mb-0 mx-auto">وحدتك جاهزة.. بضغطة زر</p>
            </div>

            <div
              class="user-card border-0 d-flex flex-row-reverse justify-content-start align-items-center gap-3"
            >
              <p class="text-center mb-0 mx-auto">
                مش مجرد وحدة... تجربة متكاملة
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="content-side h-100 px-5">
          <div class="navigation">
            <div class="navigation-item d-flex gap-3">
              <button
                class="btn"
                [class.active]="contentIndex === 0"
                (click)="setActive(0)"
              >
                من نحن
              </button>
              <button
                class="btn"
                [class.active]="contentIndex === 1"
                (click)="setActive(1)"
              >
                ما نقدمه
              </button>
              <!-- <button
                class="btn"
                [class.active]="contentIndex === 2"
                (click)="setActive(2)"
              >
                السجل الضريبي
              </button> -->
            </div>
            <div class="navigation-dots d-flex gap-3 my-4">
              <div #dot1 class="dot active-dot"></div>
              <div #dot2 class="dot"></div>
              <!-- <div #dot3 class="dot"></div> -->
            </div>
          </div>

          <div
            class="content d-flex flex-column gap-4 position-relative z-0"
            *ngFor="let content of contents; let index = index"
          >
            <div #contentContainer class="d-flex flex-column gap-3">
              <h2
                [ngClass]="{
                  'd-block': contentIndex === index,
                  'd-none': contentIndex !== index
                }"
                class="title"
              >
                {{ content.title }}
              </h2>
              <p
                [ngClass]="{
                  'd-block': contentIndex === index,
                  'd-none': contentIndex !== index
                }"
                class="fw-lighter mb-0"
              >
                {{ content.text1 }}
              </p>
              <p
                [ngClass]="{
                  'd-block': contentIndex === index,
                  'd-none': contentIndex !== index
                }"
                class="fw-lighter mb-0"
              >
                {{ content.text2 }}
              </p>

              <button
                #knowMoreBtn
                [ngClass]="{
                  'd-block': contentIndex === index,
                  'd-none': contentIndex !== index
                }"
                routerLink="/about"
                fragment="our_goals"
                class="ms-auto btn primary-btn know-more mb-auto d-flex align-items-center fw-bold py-2 px-3 gap-2 position-relative"
              >
                <i class="fa-solid fa-arrow-right"></i>
                تعرف علي المزيد الآن
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials section -->
<section class="testimonials overflow-hidden py-5" id="testimonials">
  <div class="container-fluid my-5">
    <div class="row justify-content-center align-items-center g-5">
      <div class="col-xl-6">
        <div class="heading d-flex flex-column gap-4">
          <h2 class="h1 title mb-0">انظر ماذا <br />يقول عملاؤنا!</h2>
          <p class="fw-light mb-0">
            نحن نفخر بتقديم تجربة مميزة لعملائنا, ونسعى دائماًلتحسين خدماتنا
            بناًء علي ملاحظاتهم القيمة. تجربتك معنا هي أولويتنا, ونسعد دائماً
            بما يشاركونه من اراء تساهم في تطوير خدماتنا لتلبية احتياجاتكم بشكل
            أفضل.
          </p>
          <button
            class="btn ms-auto primary-btn d-flex align-items-center gap-3 fw-bold"
            (click)="openFeedbackForm()"
          >
            <i class="fa-solid fa-arrow-right"></i>
            نحن نقدر رأيك<br />
            شارك تجربتك معنا الآن
          </button>
          <div class="carousel-arrows d-flex align-items-center gap-4">
            <button
              #testimonialsPrevBtn
              (click)="triggerPrev('testimonials')"
              class="prev-btn btn arr-btn"
              disabled
            >
              <i class="fa-solid fa-arrow-right"></i>
            </button>
            <button
              #testimonialsNextBtn
              (click)="triggerNext('testimonials')"
              class="next-btn btn arr-btn"
            >
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="carousel-container h-100">
          <div class="navigation-dots d-flex flex-column gap-2 my-4">
            <div #testimonialsDot1 class="dot active-dot"></div>
            <div #testimonialsDot2 class="dot"></div>
            <div #testimonialsDot3 class="dot"></div>
            <div #testimonialsDot4 class="dot"></div>
          </div>

          <div class="carousel overflow-hidden">
            <owl-carousel-o
              #testimonialsCarousel
              [options]="testimonialsOptions"
            >
              <ng-container
                *ngFor="let testimonial of testimonials; let i = index"
              >
                <ng-template carouselSlide>
                  <div
                    #testimonialsCard
                    [ngClass]="{ scaled: i === testimonialsIndex }"
                    class="slide m-5 p-5 pb-4"
                  >
                    <img
                      src="./assets/imgs/quote.png"
                      alt="quote symbol"
                      class="quote-symbol"
                    />
                    <div class="feedback-content">
                      <p class="my-4">{{ testimonial.feedback }}</p>
                    </div>
                    <div
                      class="review-author d-flex justify-content-between align-items-center border-top pt-4"
                    >
                      <div class="author d-flex gap-2 align-items-center">
                        <img
                          [src]="
                            testimonial.user_image
                              ? testimonial.user_image
                              : './assets/imgs/icons/online-user.png'
                          "
                          alt="profile-icon"
                        />
                        <h5 class="author-name fw-normal mb-0">
                          {{ testimonial.user_name }}
                        </h5>
                      </div>
                      <div class="rating" dir="ltr">
                        <i
                          [class.rating-color]="testimonial.rating >= num"
                          [class.rating-dark]="testimonial.rating < num"
                          *ngFor="let num of [1, 2, 3, 4, 5]"
                          class="fa-solid fa-star"
                        ></i>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact section -->
<section class="contact p-5 overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="heading ps-5">
          <h2 class="h1 fw-bolder">تواصل معنا بسهولة</h2>
          <p class="fw-light w-75">
            هل تواجة مشكلة؟ نحن هنا للمساعدة, اختر الطريقة التي تناسبك للتواصل
            معنا, نحن هنا لخدمتك في أي وقت
          </p>
          <button
            class="btn secondary-btn ms-auto primary-btn d-flex align-items-center gap-2 fw-bold"
            routerLink="/contact"
          >
            <i class="fa-solid fa-arrow-right"></i>
            اتصل بنا
          </button>
          <!-- <div class="email-box d-flex gap-4 align-items-center px-4 py-3 my-5">
            <div
              class="email-icon d-flex align-items-center justify-content-center"
            >
              <img src="./assets/imgs/icons/email-icon.png" alt="email icon" />
            </div>
            <div class="title">
              <h3 class="h4 fw-bold">بريد الكتروني</h3>
              <p>أرسل لنا بريدا إلكترونيا</p>
            </div>
          </div> -->
        </div>
      </div>

      <div class="col-lg-7">
        <div class="form-container p-5">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="inputs-container mb-3">
              <!-- user role field -->
              <div class="input-box my-3">
                <div
                  [class.error]="
                    registerForm.get('account_type')?.errors &&
                    registerForm.get('account_type')?.touched
                  "
                  class="input-field d-flex gap-2 align-items-center px-4"
                >
                  <img src="./assets/imgs/icons/userRole.png" alt="user icon" />

                  <p-dropdown
                    [options]="roles"
                    optionLabel="name"
                    optionValue="name"
                    placeholder="هل أنت مالك أم مستأجر"
                    formControlName="account_type"
                  >
                    <ng-template pTemplate="selectedItem" let-role>
                      <div class="flex align-items-center gap-2" *ngIf="role">
                        <div>{{ role.name }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-role pTemplate="item">
                      <div class="d-flex align-items-center gap-3">
                        <img [src]="role.icon" />
                        <span>{{ role.name }}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>

                <div
                  class="alerts"
                  *ngIf="
                    registerForm.get('account_type')?.errors &&
                    registerForm.get('account_type')?.touched
                  "
                >
                  <p
                    class="text-danger mb-1"
                    *ngIf="
                      registerForm.get('account_type')?.getError('required')
                    "
                  >
                    نوع المستخدم مطلوب
                  </p>
                </div>
              </div>

              <!-- username field -->
              <div class="input-box my-3">
                <div
                  [class.error]="
                    registerForm.get('name')?.errors &&
                    registerForm.get('name')?.touched
                  "
                  class="input-field d-flex gap-2 align-items-center px-4"
                >
                  <img src="./assets/imgs/icons/user.png" alt="user icon" />
                  <input
                    class="py-3"
                    formControlName="name"
                    type="text"
                    placeholder="اكتب اسمك الكامل"
                  />
                </div>

                <div
                  class="alerts"
                  *ngIf="
                    registerForm.get('name')?.errors &&
                    registerForm.get('name')?.touched
                  "
                >
                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('name')?.getError('required')"
                  >
                    الاسم مطلوب
                  </p>
                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('name')?.getError('minlength')"
                  >
                    يجب أن يكون الاسم اكبر من 3 أحرف
                  </p>
                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('name')?.getError('pattern')"
                  >
                    يجب أن لا يحتوي الاسم علي حروف مميزة
                  </p>
                </div>
              </div>

              <!-- email field -->
              <div class="input-box my-3">
                <div
                  [class.error]="
                    registerForm.get('email')?.errors &&
                    registerForm.get('email')?.touched
                  "
                  class="input-field d-flex gap-2 align-items-center px-4"
                >
                  <img src="./assets/imgs/icons/mail.png" alt="mail icon" />
                  <input
                    class="py-3"
                    formControlName="email"
                    type="email"
                    placeholder="أدخل بريدك الإلكتروني"
                  />
                </div>

                <div
                  class="alerts"
                  *ngIf="
                    registerForm.get('email')?.errors &&
                    registerForm.get('email')?.touched
                  "
                >
                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('email')?.getError('required')"
                  >
                    البريد الالكتروني مطلوب
                  </p>
                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('email')?.getError('email')"
                  >
                    البريد الإلكتروني ليس في شكل بريد إلكتروني
                  </p>
                </div>
              </div>

              <!-- phone number fields -->
              <div class="input-box my-3">
                <div
                  [class.error]="
                    registerForm.get('phone')?.errors &&
                    registerForm.get('phone')?.touched
                  "
                  class="input-field px-4 d-flex gap-2 align-items-center"
                >
                  <img
                    src="./assets/imgs/icons/speaker.png"
                    alt="speaker icon"
                  />

                  <input
                    class="py-3"
                    formControlName="phone"
                    type="text"
                    placeholder="أدخل رقم هاتفك"
                  />
                </div>

                <div
                  class="alerts"
                  *ngIf="
                    registerForm.get('phone')?.errors &&
                    registerForm.get('phone')?.touched
                  "
                >
                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('phone')?.getError('required')"
                  >
                    رقم الهاتف مطلوب
                  </p>
                </div>
              </div>

              <!-- password field -->
              <div class="input-box my-3">
                <div
                  [class.error]="
                    registerForm.get('password')?.errors &&
                    registerForm.get('password')?.touched
                  "
                  class="input-field d-flex gap-2 align-items-center px-4"
                >
                  <img src="./assets/imgs/icons/lock.png" alt="lock icon" />
                  <input
                    class="py-3"
                    [type]="passwordVisibility ? 'text' : 'password'"
                    formControlName="password"
                    placeholder="إنشئ كلمة مرور"
                  />
                  <img
                    (click)="togglePasswordVisibility('password')"
                    class="eye"
                    [src]="
                      passwordVisibility
                        ? 'assets/imgs/icons/closed-eye.png'
                        : 'assets/imgs/icons/opened-eye.png'
                    "
                    alt="opened eye icon"
                  />
                </div>

                <div
                  class="alerts"
                  *ngIf="
                    registerForm.get('password')?.errors &&
                    registerForm.get('password')?.touched
                  "
                >
                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('password')?.getError('required')"
                  >
                    كملة السر مطلوبة
                  </p>

                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('password')?.getError('minlength')"
                  >
                    يجب أن تكون كلمة المرور اكبر من 8 حروف
                  </p>

                  <p
                    class="text-danger mb-1"
                    *ngIf="registerForm.get('password')?.getError('pattern')"
                  >
                    يجب ان يحتوي كلمة المرور علي ارقام واحرف
                  </p>
                </div>
              </div>

              <!-- confirm password field -->
              <div class="input-box my-3">
                <div
                  [class.error]="
                    registerForm.get('confirm_password')?.errors &&
                    registerForm.get('confirm_password')?.touched
                  "
                  class="input-field d-flex gap-2 align-items-center px-4"
                >
                  <img src="./assets/imgs/icons/lock.png" alt="lock icon" />
                  <input
                    class="py-3"
                    [type]="confirmPasswordVisibility ? 'text' : 'password'"
                    formControlName="confirm_password"
                    placeholder="أكد كلمة مرور"
                  />
                  <img
                    (click)="togglePasswordVisibility('confirm_password')"
                    class="eye"
                    [src]="
                      confirmPasswordVisibility
                        ? 'assets/imgs/icons/closed-eye.png'
                        : 'assets/imgs/icons/opened-eye.png'
                    "
                    alt="eye icon"
                  />
                </div>

                <div
                  class="alerts"
                  *ngIf="
                    registerForm.get('confirm_password')?.errors &&
                    registerForm.get('confirm_password')?.touched
                  "
                >
                  <p
                    class="text-danger mb-1"
                    *ngIf="
                      registerForm.get('confirm_password')?.getError('required')
                    "
                  >
                    يجب تأكيد كملة المرور
                  </p>

                  <p
                    class="text-danger mb-1"
                    *ngIf="
                      registerForm.get('confirm_password')?.getError('notMatch')
                    "
                  >
                    كلمة المرور غير متطابقة
                  </p>
                </div>
              </div>

              <p
                class="mb-0 text-danger mx-auto text-center"
                dir="ltr"
                *ngIf="errMsg"
              >
                {{ errMsg }}
              </p>
            </div>

            <div
              class="form-controls d-flex align-items-center justify-content-between mb-3"
            >
              <label
                for="termsAndConditions1"
                class="d-flex gap-2 align-items-center fw-ligher"
              >
                <input
                  type="checkbox"
                  name="termsAndConditions1"
                  id="termsAndConditions1"
                  formControlName="termsAndConditions"
                />
                بالضغط علي سجل حسابك الآن،أنت توافق علي الشروط والأحكام وسياسة
                الخصوصية</label
              >
              <button
                class="btn secondary-btn mx-3"
                [disabled]="registerForm.invalid"
                #submitBtn
              >
                سجل حسابك الآن
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer section -->
<app-footer></app-footer>
