:host {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.form-wrapper {
  .logo {
    margin-bottom: 80px;
    img {
      width: 80px;
      height: auto;
    }
  }
  form {
    h1 {
      color: #3f514a;
    }
    .inputs-container {
      label {
        color: #1e1e1e;
        font-size: 20px;
        font-weight: 400;
      }
      .input-field {
        background: #f3f3f3;
        border-radius: 8px;
        border: 1px solid #f3f3f3;
        transition: 0.3s;
        width: 500px;
        input {
          background: transparent;
          outline: none;
          border: 0;
          width: 100%;
          font-size: 16px;
          font-weight: light;
          &::placeholder {
            color: #b5b5b5;
          }
        }
        img {
          width: 25px;
          height: 25px;
          &.eye {
            cursor: pointer;
          }
        }
        &:focus-within {
          background-color: #d7e9e2;
          border: 1px solid #3f514a;
        }
      }
    }
    button {
      font-size: 25px;
      i {
        font-size: 16px;
      }
    }
  }

  p {
    color: #1f1f1f63;
    span {
      text-decoration: underline;
      cursor: pointer;
      color: #637f74;
    }
  }
}

@media (max-width: 620px) {
  :host {
    background-color: #f3f3f3;
  }
  .form-wrapper {
    align-items: unset !important;
    form {
      .inputs-container {
        .input-field {
          background: #e5e5e5;
          width: 100%;

          &.error {
            background: transparent !important;
            border-color: #dc3545 !important;
          }
        }
      }
      button {
        font-size: 18px;
        i {
          font-size: 16px;
        }
      }
    }

    p {
      color: #1f1f1f63;
      span {
        text-decoration: underline;
        cursor: pointer;
        color: #637f74;
      }
    }
  }
}
