<div
  class="form-wrapper container d-flex flex-column align-items-center justify-content-center"
>
  <div class="logo d-flex justify-content-center">
    <img src="./assets/imgs/dark logo.png" alt="JPS LOGO" />
  </div>

  <form [formGroup]="resetPasswordForm">
    <h1>أنشئ كلمة مرور جديدة!</h1>

    <div class="inputs-container mb-3">
      <div class="input-box my-3">
        <label for="password" class="mb-2"> اختر كلمة مرور جديدة </label>
        <div
          [class.error]="
            resetPasswordForm.get('password')?.errors &&
            resetPasswordForm.get('password')?.touched
          "
          class="input-field d-flex gap-2 align-items-center px-4"
        >
          <input
            tabindex="-1"
            class="py-3"
            [type]="passwordVisibility ? 'text' : 'password'"
            formControlName="password"
            placeholder="كلمة المرور"
          />
          <img
            (click)="togglePasswordVisibility('password')"
            class="eye"
            [src]="
              passwordVisibility
                ? 'assets/imgs/icons/closed-eye.png'
                : 'assets/imgs/icons/opened-eye.png'
            "
            alt="opened eye icon"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            resetPasswordForm.get('password')?.errors &&
            resetPasswordForm.get('password')?.touched
          "
        >
          <p
            class="text-danger mb-1"
            *ngIf="resetPasswordForm.get('password')?.getError('required')"
          >
            كملة السر مطلوبة
          </p>

          <p
            class="text-danger mb-1"
            *ngIf="resetPasswordForm.get('password')?.getError('minlength')"
          >
            يجب أن تكون كلمة المرور اكبر من 8 حروف
          </p>

          <p
            class="text-danger mb-1"
            *ngIf="resetPasswordForm.get('password')?.getError('pattern')"
          >
            يجب ان يحتوي كلمة المرور علي ارقام واحرف
          </p>
        </div>
      </div>

      <div class="input-box my-3">
        <label for="rePassword" class="mb-2"> تاكيد كلمة المرور</label>

        <div
          [class.error]="
            resetPasswordForm.get('rePassword')?.errors &&
            resetPasswordForm.get('rePassword')?.touched
          "
          class="input-field d-flex gap-2 align-items-center px-4"
        >
          <input
            tabindex="-1"
            class="py-3"
            [type]="confirmPasswordVisibility ? 'text' : 'password'"
            formControlName="rePassword"
            placeholder="تاكيد كلمة المرور"
          />
          <img
            (click)="togglePasswordVisibility('rePassword')"
            class="eye"
            [src]="
              confirmPasswordVisibility
                ? 'assets/imgs/icons/closed-eye.png'
                : 'assets/imgs/icons/opened-eye.png'
            "
            alt="eye icon"
          />
        </div>

        <div
          class="alerts"
          *ngIf="
            resetPasswordForm.get('rePassword')?.errors &&
            resetPasswordForm.get('rePassword')?.touched
          "
        >
          <p
            class="text-danger mb-1"
            *ngIf="resetPasswordForm.get('rePassword')?.getError('required')"
          >
            يجب تأكيد كملة المرور
          </p>

          <p
            class="text-danger mb-1"
            *ngIf="resetPasswordForm.get('rePassword')?.getError('notMatch')"
          >
            كلمة المرور غير متطابقة
          </p>
        </div>
      </div>
    </div>

    <button
      class="btn secondary-btn d-flex align-items-center justify-content-center gap-2 w-100 fw-light"
    >
      <i class="fa-solid fa-arrow-right"></i>
      إنشاء كلمة المرور
    </button>
  </form>
</div>
