.container {
  position: relative;
  padding: 150px 20px 50px;
  .backBtn {
    display: none;
    position: absolute;
    top: 24px;
    left: 20px;
  }
  .header {
    .shareBtn,
    .delBtn {
      border: 2px solid #222;
      border-radius: 30px;
      transition: 0.3s;
      img {
        width: 20px;
        height: auto !important;
      }

      &:active {
        transform: scale(0.98);
      }
    }
    .delBtn {
      border-color: var(--bs-danger);
      color: var(--bs-danger);

      &:hover {
        background-color: var(--bs-danger);
        color: #fff;
      }
    }
  }

  .card {
    background: #fff;
    transition: 0.2s;

    border: 0;
    cursor: pointer;
    border-radius: 20px;
    .apartment-preview {
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      width: 100%;
      height: 255.99px;

      .arrow {
        position: absolute;
        top: 55%;
        right: 10px;
        display: none !important;
        border-radius: 100%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background: #fff;
        color: black;
        cursor: pointer;
        font-size: 8px;
      }

      .reserved-duration {
        position: absolute;
        background: rgb(0, 0, 0, 0.3);
        color: #fff;
        top: 15px;
        left: 15px;
        padding: 8px 10px;
        font-size: 13px;
        backdrop-filter: blur(5px);
        border-radius: 15px;
      }

      .paginator {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        .dot {
          width: 7px;
          height: 7px;
          background: rgba(255, 255, 255, 0.596);
          border-radius: 100%;
          &.active {
            background: #ffffff;
          }
        }
      }

      .host-preview {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 64px;
        height: 70px;
        border-radius: 20px;
        background: #e7e7e7;
        box-shadow: -1px -2px 4px 0px #00000040 inset;
        img {
          width: 45px;
          height: 45px;
          border-radius: 100%;
          box-shadow: 0px 4px 4px 0px #00000040 inset,
            0px -4px 4px 0px #00000040 inset;
        }
      }
    }

    .apartment-information {
      position: relative;
      margin-right: 5px;

      .apartment-name {
        h3 {
          font-size: 18px;
          color: #060503;
          transition: 0.2s;
        }

        p {
          font-size: 12px;
          font-weight: normal;
          transition: 0.2s;

          img {
            width: 12px;
            opacity: 60%;
            height: auto;
          }
        }

        .rating {
          color: #4a594f;
          font-size: 15px;
          transition: 0.2s;
        }
      }

      .chip {
        background: #d1dbd7;
        padding: 3px 13px;
        border-radius: 20px;
        font-size: 14px;
        color: #4a594f;
        img {
          width: 18px;
          height: 18px;
        }
      }

      .price {
        color: #060503;
        font-size: 20px;
        transition: 0.2s;
      }

      p {
        color: #717171;
      }

      .controls {
        background: #d1dbd7;
        border-radius: 15px;
        button {
          transition: 0.2s;
        }
        img {
          width: 20px;
          height: auto;
        }
      }
    }

    &:hover {
      background: #4a594f;

      .apartment-name {
        h3 {
          color: #fff !important;
        }

        p {
          color: #d1dbd7;
        }

        .rating {
          color: #fff !important;
        }
      }

      .price {
        color: #fff !important;
      }

      .controls {
        button {
          background: #ecd09f;
          color: #4a594f;
        }
      }

      .apartment-preview .arrow {
        display: flex !important;
      }
    }
  }
}

@media (max-width: 860px) {
  .container {
    p-breadcrumb {
      display: none;
    }
    padding: 20px 20px 150px;
  }
}

@media (max-width: 767px) {
  .container {
    .backBtn {
      display: block;
    }
    .header {
      display: unset !important;
      margin-bottom: 40px !important;

      .title {
        margin: 0 0 40px !important;
        h1 {
          font-size: 20px;
        }
        p {
          display: none;
        }
      }
      p-dropdown {
        display: inline !important;
      }
      button {
        display: inline !important;
        font-size: 12px;
        margin-right: 10px !important;
        img {
          width: 15px !important;
        }
      }
    }

    .row {
      margin-top: 30px;
    }
  }
}
