<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  template="<img src='./assets/imgs/new logo animation.gif'/>"
></ngx-spinner>

<app-main-nav-bar></app-main-nav-bar>

<div class="container">
  <i class="fa-solid fa-arrow-left backBtn" routerLink="/your-favorites"></i>
  <p-breadcrumb [model]="items" [home]="home">
    <ng-template pTemplate="separator"> > </ng-template>
  </p-breadcrumb>

  <div class="header d-flex align-items-center my-5">
    <div class="title ms-5">
      <h1 class="h2 mb-1 fw-bold">{{ listName }}</h1>
      <p class="mb-0">{{ apartments.length }} وحدات مضافة</p>
    </div>

    <p-dropdown
      [options]="cities"
      [(ngModel)]="selectedCity"
      optionLabel="name"
      placeholder="رتب حسب"
    />

    <div class="me-auto d-flex align-items-center gap-3 buttons">
      <button
        class="shareBtn btn d-flex align-items-center gap-4 fw-medium py-2 px-3"
      >
        <img src="./assets/imgs/icons/share-dark.png" alt="share icon " />
        مشاركة المجموعة
      </button>

      <button
        class="delBtn btn d-flex align-items-center gap-4 fw-medium py-2 px-3"
        (click)="removeFavList()"
        *ngIf="listId"
      >
        <i class="fa-regular fa-trash-can"></i>
        حذف المجموعة
      </button>
    </div>
  </div>

  <div class="row g-2 g-sm-4" *ngIf="apartments.length > 0; else emptyList">
    <div class="col-xl-4 col-md-6" *ngFor="let apartment of apartments">
      <div class="card p-3" (click)="productDetails(apartment.id)">
        <div class="apartment-preview mb-2">
          <img [src]="apartment.images[0]" alt="apartment image" />
          <div class="reserved-duration">
            <p class="mb-0 fw-light">محجوزة حتي 10/8/2024</p>
          </div>

          <div class="arrow d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-chevron-right"></i>
          </div>

          <div class="paginator d-flex gap-1 mt-3">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>

          <div
            class="host-preview d-flex align-items-center justify-content-center p-3"
          >
            <img [src]="apartment.broker_image" alt="host avatar" />
          </div>
        </div>

        <div class="apartment-information">
          <div class="apartment-name d-flex justify-content-between gap-2 mb-2">
            <div class="title text-end">
              <h3 class="h6 my-1">{{ apartment.type }}</h3>
              <p class="location mb-0 d-flex gap-1 align-items-center">
                <i class="fa-solid fa-location-dot"></i>
                {{ apartment.city_name }}
              </p>
            </div>

            <div class="rating d-flex align-items-center gap-1">
              <i class="fa-solid fa-star"></i> 4.8
            </div>
          </div>

          <div class="chips-badges d-flex gap-2 my-3">
            <div class="chip d-flex align-items-center gap-1">
              <img src="./assets/imgs/icons/bath-green.png" alt="bath icon" />
              {{ apartment.bathrooms }}
            </div>
            <div class="chip d-flex align-items-center gap-1">
              <img src="./assets/imgs/icons/bed-green.png" alt="bed icon" />
              {{ apartment.beds }}
            </div>
            <div class="chip d-flex align-items-center gap-1">
              <img src="./assets/imgs/icons/door-green.png" alt="door icon" />
              {{ apartment.rooms }}
            </div>
            <div class="chip d-flex align-items-center gap-1">
              <img src="./assets/imgs/icons/doc-green.png" alt="docs icon" />
              {{ apartment.contractperiod }}
            </div>
          </div>

          <h3 class="h6 fw-bold price mb-0 text-end mb-3">
            {{ apartment.price | currency : " " }} جنيه/ شهرياً
          </h3>

          <div
            class="controls d-flex justify-content-between align-items-center px-3 py-2"
          >
            <div class="icons d-flex align-items-center gap-3">
              <i
                class="fa-solid fa-xmark text-danger fs-5"
                title="remove from list"
                (click)="removeFromFavList(apartment.id, $event)"
                *ngIf="listId; else defaultList"
              ></i>
              <ng-template #defaultList>
                <i
                  (click)="removeFromDefaultList(apartment.id, $event)"
                  class="fa-solid fa-xmark text-danger fs-5"
                  title="remove from list"
                ></i>
              </ng-template>

              <img
                (click)="openShareModal($event)"
                src="./assets/imgs/icons/share-green.png"
                alt="share icon"
              />
            </div>

            <button
              class="btn d-flex gap-2 align-items-center secondary-btn fw-medium px-4 py-2"
            >
              <i class="fa-solid fa-phone"></i>
              اتصل الان
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyList>
    <h2 class="h1 text-center fw-bold mt-5">لا يوجد وحدات بهذه القائمة :(</h2>
  </ng-template>
</div>
