<div class="modal-wrapper p-4">
  <div class="title mb-4">
    <h3 class="h5 fw-bold">تعديل الرقم القومي أو جواز السفر</h3>
    <p class="mb-0">
      قم بإجراء التغييرات على الرقم القومي أو جواز السفر هنا. انقر فوق "حفظ" عند
      الانتهاء.
    </p>
  </div>

  <form>
    <div class="input-box my-3">
      <label for="nationalId" class="fw-semibold mb-2"
        >الرقم القومي/جواز السفر
      </label>
      <div class="input-field d-flex gap-2 align-items-center px-4">
        <input type="text" class="py-1" name="nationalId" />
      </div>
    </div>

    <div class="input-box my-3">
      <label for="currentPassword" class="fw-semibold mb-2"
        >كلمة المرور الحاليه</label
      >
      <div class="input-field d-flex gap-2 align-items-center px-4">
        <input type="text" class="py-1" name="currentPassword" />
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <button class="btn secondary-btn me-auto rounded-3">حفظ التغييرات</button>
    </div>
  </form>
</div>
