<app-main-nav-bar></app-main-nav-bar>

<div
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <h1 class="fw-bold text-center mb-2">404</h1>
  <h2 class="fw-bold text-center">عفوًا... لم يتم العثور على الصفحة!</h2>
  <h3 class="fw-light text-center">
    يبدو أنه لم يتم العثور على شيء في هذا الموقع. ربما حاول أحد الروابط أدناه أو
    ابحث؟
  </h3>

  <div class="search-field px-3 py-2">
    <app-search-bar></app-search-bar>
  </div>
  <div class="image">
    <img
      src="./assets/imgs/notFoundHouse.png"
      alt="house image for not found page"
    />
  </div>
</div>
