<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-8bits"
  [fullScreen]="true"
></ngx-spinner>

<app-main-nav-bar></app-main-nav-bar>

<div class="container">
  <p-breadcrumb class="max-w-full" [model]="items" [home]="home">
    <ng-template pTemplate="separator"> > </ng-template>
  </p-breadcrumb>

  <div class="lists-widget mt-4">
    <h1 class="h2 mb-5 fw-bold">مختاراتك المفضلة</h1>
    <div class="row gy-4">
      <!-- default list -->
      <div class="col-6 col-md-3">
        <div class="widget">
          <div
            class="images p-4 mb-3 d-flex align-items-center justify-content-center"
          >
            <div class="image heart">
              <img src="./assets/imgs/icons/heart-lightGreen.png" alt="image" />
            </div>
          </div>
          <div class="widget-details">
            <h2 class="h3 fw-bold mb-0">الافتراضية</h2>
            <p class="mb-0">0 وحدات مضافة</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 col-md-4" *ngFor="let list of lists">
        <div class="widget" routerLink="/your-favorites/details">
          <div class="images p-4 mb-3">
            <div class="row g-lg-3 g-2">
              <div class="col-6" *ngFor="let image of list.items.slice(0, 4)">
                <div class="image">
                  <img [src]="image.itemImg" alt="image" />
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="widget-details">
            <h2 class="h3 fw-bold mb-0">{{ list.title }}</h2>
            <p class="mb-0">{{ list.items.length }} وحدات مضافة</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
