<!-- <ngb-datepicker
  #dp
  (dateSelect)="onDateSelection($event)"
  [displayMonths]="2"
  [dayTemplate]="t"
  outsideDays="hidden"
  dir="ltr"
  [markDisabled]="isDisabled.bind(this)"
></ngb-datepicker>

<ng-template #t let-date let-focused="focused">
  <span
    class="custom-day"
    [class.focused]="focused"
    [class.range]="isRange(date)"
    [class.faded]="isHovered(date) || isInside(date)"
    (mouseenter)="hoveredDate = date"
    (mouseleave)="hoveredDate = null"
    [class.disabled]="isDisabled(date)"
    [title]="isDisabled(date) ? '28-night minimum' : ''"
  >
    {{ date.day }}
  </span>
</ng-template> -->
