nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3000;
  transform: translateY(0%);
  transition: 0.7s;

  .navbar {
    background-color: #a0a0a091;
    backdrop-filter: blur(30px);
    padding: 10px 10px;
    ul {
      li {
        transition: opacity 0.3s ease;
        a {
          opacity: 0.5;
          img {
            width: 35px;
            height: auto;
          }
          font-size: 30px;
          color: #3f514a;
          text-decoration: none;
          p {
            font-size: 0.75rem;
            font-weight: bold;
          }
          &.active-link {
            opacity: 1;
          }
        }
      }
    }
  }

  &.scrolled {
    transform: translateY(100%);
  }
}

@media (max-width: 460px) {
  nav {
    .navbar {
      ul {
        li {
          a {
            img {
              width: 25px;
              height: auto;
            }
            font-size: 20px;
          }
        }
      }
    }
  }
}
