nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3000;
  transition: 1s;

  .navbar {
    background-color: #a0a0a091;
    backdrop-filter: blur(30px);
    padding: 10px 10px;
    ul {
      li {
        transition: opacity 0.3s ease;
        a {
          img {
            width: 35px;
            height: auto;
          }
          font-size: 30px;
          color: #3f514a;
          text-decoration: none;
          p {
            display: none;
          }
          &.active-link {
            background: #3f514a;
            color: white;
            padding: 0.7rem 1rem;

            p {
              font-size: 16px;
              display: inline;
            }
          }
        }
      }
    }
  }

  &.scrolled {
    bottom: -100%;
  }
}

@media (max-width: 460px) {
  nav {
    .navbar {
      ul {
        li {
          a {
            img {
              width: 25px;
              height: auto;
            }
            font-size: 20px;
            &.active-link {
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
