<div class="modal-wrapper p-4">
  <div class="title mb-4">
    <h3 class="h5 fw-bold">تعديل رقم الهاتف</h3>
    <p class="mb-0">
      قم بإجراء التغييرات على رقم هاتفك هنا. انقر فوق "حفظ" عند الانتهاء.
    </p>
  </div>

  <form [formGroup]="editPhoneNumber" (ngSubmit)="onSubmit()">
    <div class="input-box my-3">
      <label for="newPhone" class="fw-semibold mb-2">رقم الهاتف</label>
      <div class="input-field d-flex gap-2 align-items-center px-4">
        <input
          formControlName="phone"
          type="text"
          class="py-1"
          name="newPhone"
        />
      </div>
    </div>

    <div class="d-flex justify-content-start">
      <button class="btn secondary-btn me-auto rounded-3">حفظ التغييرات</button>
    </div>
  </form>
</div>
