<app-main-nav-bar></app-main-nav-bar>

<div class="container">
  <section class="page-items">
    <div pDefer>
      <ng-template>
        <div
          class="header mb-3 d-flex justify-content-between align-items-center"
        >
          <div class="title d-flex align-items-center gap-2">
            <i class="fa-solid fa-angle-right" routerLink="/product-details">
            </i>
            <h1 class="h5 mb-0 fw-medium">جولة داخل الشقة</h1>
          </div>
          <div class="buttons d-flex align-items-center gap-3">
            <button class="btn d-flex align-items-center gap-2">
              <img src="./assets/imgs/icons/share-dark.png" alt="icon" />
              المشاركة
            </button>
            <button class="btn d-flex align-items-center gap-2">
              <img src="./assets/imgs/icons/heart.png" alt="icon" />
              حفظ
            </button>
          </div>
        </div>

        <div class="items px-5">
          <swiper-container
            #apartmentSwiper
            [speed]="500"
            [breakpoints]="Breakpoints"
          >
            <swiper-slide *ngFor="let item of pageItems">
              <div class="card">
                <img [src]="item.coverImage" alt="room image" class="mb-2" />
                <h6 class="mb-0">{{ item.name }}</h6>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </ng-template>
    </div>
  </section>

  <section class="living-room my-5">
    <div pDefer>
      <ng-template>
        <h2 class="h5 mb-4">{{ rooms.livingRoom.title }}</h2>
        <div class="row g-2">
          <div class="col-md-3 overflow-hidden">
            <div class="images row g-1 h-100">
              <div class="col-6 col-md-12 overflow-hidden">
                <img [src]="rooms.livingRoom.roomImages[0]" alt="room image" />
              </div>
              <div class="col-6 col-md-12 overflow-hidden">
                <img [src]="rooms.livingRoom.roomImages[1]" alt="room image" />
              </div>
            </div>
          </div>
          <div class="col-md-3 overflow-hidden">
            <div class="images h-100">
              <img [src]="rooms.livingRoom.roomImages[2]" alt="room image" />
            </div>
          </div>
          <div class="col-md-3 overflow-hidden">
            <div class="images row g-1 h-100">
              <div class="col-6 col-md-12 overflow-hidden">
                <img [src]="rooms.livingRoom.roomImages[3]" alt="room image" />
              </div>
              <div class="col-6 col-md-12 overflow-hidden">
                <img [src]="rooms.livingRoom.roomImages[4]" alt="room image" />
              </div>
            </div>
          </div>
          <div class="col-md-3 overflow-hidden">
            <div class="images h-100">
              <img [src]="rooms.livingRoom.roomImages[5]" alt="room image" />
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>

  <section class="kitchen my-3">
    <div pDefer>
      <ng-template>
        <h2 class="h5 mb-4">{{ rooms.kitchen.title }}</h2>
        <div class="row g-2">
          <div class="col-md-5">
            <div class="images row g-1 h-100">
              <div class="col-6 col-md-12">
                <img [src]="rooms.kitchen.roomImages[2]" alt="room image" />
              </div>
              <div class="col-6 col-md-12">
                <img [src]="rooms.kitchen.roomImages[0]" alt="room image" />
              </div>
            </div>
          </div>

          <div class="col-md-7">
            <div class="images h-100">
              <img [src]="rooms.kitchen.roomImages[1]" alt="room image" />
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>

  <section class="food-court my-5">
    <div pDefer>
      <ng-template>
        <h2 class="h5 mb-4">{{ rooms.foodCourt.title }}</h2>
        <div class="row g-2">
          <div class="col-md-3">
            <div class="images row g-1 h-100">
              <div class="col-6 col-md-12">
                <img [src]="rooms.foodCourt.roomImages[0]" alt="room image" />
              </div>
              <div class="col-6 col-md-12">
                <img [src]="rooms.foodCourt.roomImages[4]" alt="room image" />
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="images row g-1 h-100">
              <div class="col-6 col-md-12">
                <img [src]="rooms.foodCourt.roomImages[3]" alt="room image" />
              </div>
              <div class="col-6 col-md-12">
                <img [src]="rooms.foodCourt.roomImages[2]" alt="room image" />
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="images h-100">
              <img [src]="rooms.foodCourt.roomImages[3]" alt="room image" />
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>

  <section class="bedroom my-3">
    <div pDefer>
      <ng-template>
        <h2 class="h5 mb-4">{{ rooms.bedroom.title }}</h2>

        <div class="row g-3">
          <div class="col-lg-6">
            <div class="row g-1 mb-1">
              <div class="col-6">
                <img [src]="rooms.bedroom.roomImages[5]" alt="room image" />
              </div>
              <div class="col-6">
                <img [src]="rooms.bedroom.roomImages[4]" alt="room image" />
              </div>
            </div>
            <div class="w-100">
              <img [src]="rooms.bedroom.roomImages[2]" alt="room image" />
            </div>
          </div>

          <div class="col-lg-6">
            <div class="w-100 mb-1">
              <img [src]="rooms.bedroom.roomImages[3]" alt="room image" />
            </div>
            <div class="row g-1">
              <div class="col-6">
                <img [src]="rooms.bedroom.roomImages[1]" alt="room image" />
              </div>
              <div class="col-6">
                <img [src]="rooms.bedroom.roomImages[0]" alt="room image" />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>

  <section class="bathroom my-5">
    <div pDefer>
      <ng-template>
        <h2 class="h5 mb-4">{{ rooms.bathroom.title }}</h2>

        <div class="row g-2">
          <div class="col-lg-4" *ngFor="let image of rooms.bathroom.roomImages">
            <img [src]="image" alt="room image" />
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</div>
