<div class="search-slider position-relative mx-auto" #searchSlider>
  <div class="search-slider-knob">
    <div
      class="text d-flex align-items-center justify-content-center flex-column"
    >
      <span class="number">{{ selectedMonth }}</span>
      <span class="word">شهور</span>
    </div>
  </div>
  <div class="pointer" [ngStyle]="pointerStyle">
    <div
      class="thumb"
      (mousedown)="startDragging($event)"
      (touchstart)="startDragging($event)"
    ></div>
  </div>

  <div
    class="slider-dots-container d-flex align-items-center justify-content-center"
  >
    <div
      *ngFor="let month of monthAngles"
      class="slider-dot d-flex align-items-center justify-content-center"
      [style.transform]="
        'translate(-50%, -50%) rotate(' +
        (month.start + month.end) / 2 +
        'deg) translateX(90px)'
      "
      (click)="selectMonth(month.month)"
    >
      <div class="dot"></div>
    </div>
  </div>

  <svg class="search-slider-progress-bar" width="230" height="230">
    <defs>
      <radialGradient
        id="trackForegroundFill"
        cx="50%"
        cy="50%"
        r="70%"
        fx="50%"
        fy="50%"
      >
        <!-- Lighter colors -->
        <stop offset="0%" stop-color="#AED6C6" />
        <stop offset="30%" stop-color="#A5C3B7" />
        <stop offset="50%" stop-color="#9EB8AE" />
        <stop offset="70%" stop-color="#8AAEA0" />
        <stop offset="85%" stop-color="#738D83" />
        <!-- Darker colors, with the last color taking up only a small part -->
        <stop offset="90%" stop-color="#728B81" />
        <stop offset="95%" stop-color="#5F736B" />
      </radialGradient>

      <filter id="trackForegroundDropShadow1" filterUnits="userSpaceOnUse">
        <feDropShadow
          dx="0"
          dy="0"
          flood-color="#5F736B"
          flood-opacity="0.7"
          stdDeviation="20"
        ></feDropShadow>
      </filter>

      <filter id="trackForegroundDropShadow2" filterUnits="userSpaceOnUse">
        <feDropShadow
          dx="0"
          dy="0"
          flood-color="#5F736B"
          flood-opacity="0.9"
          stdDeviation="3"
        ></feDropShadow>
      </filter>
    </defs>

    <!-- Circle with inner shadow applied -->
    <circle
      class="search-slider-progress-circle circle"
      cx="115"
      cy="115"
      r="90"
      fill="none"
      style="
        stroke: transparent;
        stroke-dasharray: 660;
        stroke-width: 50px;
        transform-origin: center;
        transform: rotate(-90deg);
        stroke-linecap: round;
      "
    ></circle>

    <!-- Progress circle with drop shadow effect -->
    <circle
      id="search-slider-circle2"
      class="search-slider-progress-circle circle"
      cx="115"
      cy="115"
      r="90"
      fill="none"
      style="
        stroke: url(#trackForegroundFill);
        stroke-linecap: round !important;
        stroke-width: 45px;
        transform-origin: center;
        transform: rotate(-90deg);
        z-index: 8;
      "
      [attr.stroke-dasharray]="dashArray"
      [attr.stroke-dashoffset]="dashOffset"
      filter="url(#trackForegroundDropShadow1)"
    ></circle>
  </svg>
</div>

<div class="duration-text text-center mt-4">
  <span class="fs-5 from fw-light text-decoration-underline">
    {{ startDate | date : "EEEE، d MMMM" : "ar" }}
  </span>
  <span class="fs-5 fw-medium"> إلى </span>
  <span class="fs-5 to fw-light text-decoration-underline">
    {{ endDate | date : "EEEE، d MMMM" : "ar" }}
  </span>
</div>
