<div class="modal-wrapper py-3">
  <div class="header py-3 border-bottom position-relative">
    <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    <h3 class="fw-bold mb-0 text-center h5">بحث متقدم</h3>
  </div>

  <div class="price-range-slider pb-5 pt-4 border-bottom px-4">
    <div>
      <h5 class="fw-bold title">رينج السعر</h5>
      <p>أسعار الليلة قبل الرسوم والضرائب</p>
    </div>
    <div class="bar-chart">
      <div class="chart mx-auto d-flex gap-1 align-items-end" dir="ltr">
        <div
          class="bar"
          *ngFor="let barHeight of barHeights; let i = index"
          [ngStyle]="{
            height: barHeight + 'px',
            backgroundColor: getBarColor(i)
          }"
        ></div>
      </div>
    </div>
    <p-slider
      [(ngModel)]="rangeValues"
      [range]="true"
      styleClass="w-100"
      (onSlideEnd)="getRangeValues()"
      [min]="minRangeValue"
      [max]="maxRangeValue"
    />
    <div
      class="price-inputs d-flex flex-row-reverse align-items-center justify-content-between gap-3 mt-4"
    >
      <div class="lower-price-input price-range-input w-100">
        <label for="lowerValue" class="d-block">حد ادني</label>
        <input
          id="lowerValue"
          class="w-100"
          type="text"
          [value]="rangeValues[0]"
        />
      </div>
      <hr />
      <div class="higher-price-input price-range-input w-100">
        <label for="higherValue" class="d-block">حد اقصي</label>
        <input
          id="higherValue"
          class="w-100"
          type="text"
          [value]="rangeValues[1]"
        />
      </div>
    </div>
  </div>

  <div class="apartment-type py-4 border-bottom px-4">
    <h5 class="fw-bold title">نوع الشقة</h5>
    <p>روف - دوبليكس او عادي</p>

    <div class="chips-selections d-flex gap-3 flex-wrap">
      <div class="chip px-3 rounded-4 py-1">الكل</div>
      <div class="chip px-3 rounded-4 py-1">عادية</div>
      <div class="chip px-3 rounded-4 py-1">روف</div>
      <div class="chip px-3 rounded-4 py-1">دوبليكس</div>
    </div>
  </div>

  <div class="rental-system py-4 border-bottom px-4">
    <h5 class="fw-bold title">نظام الايجار</h5>
    <p>مدة او نظام الايجار هل سنوي ام شهري ام يومي</p>

    <div class="chips-selections d-flex gap-3 flex-wrap">
      <div class="chip px-3 rounded-4 py-1">يومي</div>
      <div class="chip px-3 rounded-4 py-1">شهري</div>
      <div class="chip px-3 rounded-4 py-1">سنوي</div>
    </div>
  </div>

  <div class="payment-system py-4 border-bottom px-4">
    <h5 class="fw-bold title">نظام الدفع</h5>
    <p>مدة او نظام الايجار هل سنوي ام شهري ام يومي</p>

    <div class="chips-selections d-flex gap-3 flex-wrap">
      <div class="chip px-3 rounded-4 py-1">باليوم</div>
      <div class="chip px-3 rounded-4 py-1">بالشهر</div>
      <div class="chip px-3 rounded-4 py-1">بالترم</div>
      <div class="chip px-3 rounded-4 py-1">بالسنة</div>
    </div>
  </div>

  <div class="ditsrict py-4 border-bottom px-4">
    <h5 class="fw-bold title">المنطقة</h5>
    <p>اسم المنطقة</p>

    <div class="selection-dropdown">
      <p-dropdown
        [options]="cities"
        [(ngModel)]="selectedCity"
        optionLabel="name"
        placeholder="المنطقة التاسعة"
      />
    </div>
  </div>

  <div
    class="controls pt-5 d-flex justify-content-between align-items-center px-4"
  >
    <button class="btn secondary-btn px-4 py-2 rounded-2">
      اظهر +1,000 وحدة
    </button>
    <button class="btn clear-btn">امسح الكل</button>
  </div>
</div>
