<div class="modal-wrapper p-4">
  <div class="title mb-4">
    <h3 class="h5 fw-bold">تعديل الاسم</h3>
    <p class="mb-0">
      قم بإجراء التغييرات على اسمك هنا. انقر فوق "حفظ" عند الانتهاء.
    </p>
  </div>

  <form [formGroup]="editUsername" (ngSubmit)="onSubmit()">
    <div class="input-box my-3">
      <label for="newName" class="fw-semibold mb-2">الاسم الجديد</label>
      <div class="input-field d-flex gap-2 align-items-center px-4">
        <input formControlName="name" type="text" class="py-1" name="newName" />
      </div>
      <p
        class="mb-0 text-danger"
        *ngIf="
          editUsername.get('name')?.errors && editUsername.get('name')?.touched
        "
      >
        <span *ngIf="editUsername.get('name')?.getError('required')">
          يجب اختيار اسم مستخدم جديد
        </span>
      </p>
    </div>

    <div class="d-flex justify-content-start">
      <button class="btn secondary-btn me-auto rounded-3">حفظ التغييرات</button>
    </div>
  </form>
</div>
