<app-mobile-navbar></app-mobile-navbar>

<div class="form-wrapper p-4">
  <i class="fa-solid fa-xmark" (click)="close()"></i>

  <h2 class="mb-4 mt-3">مرحبا بك في عائلة JPS</h2>

  <div class="form-container w-100">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="inputs-container mb-3">
        <!-- user role field -->
        <div class="input-box my-3">
          <div
            [class.error]="
              registerForm.get('account_type')?.errors &&
              registerForm.get('account_type')?.touched
            "
            class="input-field d-flex gap-2 align-items-center px-4"
          >
            <img src="./assets/imgs/icons/userRole.png" alt="user icon" />
            <p-dropdown
              formControlName="account_type"
              [options]="roles"
              optionLabel="name"
              optionValue="name"
              placeholder="نوع المستخدم"
            />
          </div>

          <div
            class="alerts"
            *ngIf="
              registerForm.get('account_type')?.errors &&
              registerForm.get('account_type')?.touched
            "
          >
            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('account_type')?.getError('required')"
            >
              نوع المستخدم مطلوب
            </p>
          </div>
        </div>

        <!-- username field -->
        <div class="input-box my-3">
          <div
            [class.error]="
              registerForm.get('name')?.errors &&
              registerForm.get('name')?.touched
            "
            class="input-field d-flex gap-2 align-items-center px-4"
          >
            <img src="./assets/imgs/icons/user.png" alt="user icon" />
            <input
              class="py-3"
              formControlName="name"
              type="text"
              placeholder="الاسم"
            />
          </div>

          <div
            class="alerts"
            *ngIf="
              registerForm.get('name')?.errors &&
              registerForm.get('name')?.touched
            "
          >
            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('name')?.getError('required')"
            >
              الاسم مطلوب
            </p>
            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('name')?.getError('minlength')"
            >
              يجب أن يكون الاسم اكبر من 3 أحرف
            </p>
            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('name')?.getError('pattern')"
            >
              يجب أن لا يحتوي الاسم علي حروف مميزة
            </p>
          </div>
        </div>

        <!-- email field -->
        <div class="input-box my-3">
          <div
            [class.error]="
              registerForm.get('email')?.errors &&
              registerForm.get('email')?.touched
            "
            class="input-field d-flex gap-2 align-items-center px-4"
          >
            <img src="./assets/imgs/icons/mail.png" alt="mail icon" />
            <input
              class="py-3"
              formControlName="email"
              type="email"
              placeholder="البريد الالكتروني"
            />
          </div>

          <div
            class="alerts"
            *ngIf="
              registerForm.get('email')?.errors &&
              registerForm.get('email')?.touched
            "
          >
            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('email')?.getError('required')"
            >
              البريد الالكتروني مطلوب
            </p>
            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('email')?.getError('email')"
            >
              البريد الإلكتروني ليس في شكل بريد إلكتروني
            </p>
          </div>
        </div>

        <!-- phone - national number fields -->
        <div class="input-box d-flex gap-2 my-3">
          <div class="w-100">
            <div
              [class.error]="
                registerForm.get('phone')?.errors &&
                registerForm.get('phone')?.touched
              "
              class="input-field px-4 d-flex gap-2 align-items-center"
            >
              <img src="./assets/imgs/icons/speaker.png" alt="speaker icon" />

              <input
                class="py-3"
                formControlName="phone"
                type="text"
                placeholder="رقم الموبايل"
              />
            </div>

            <div
              class="alerts"
              *ngIf="
                registerForm.get('phone')?.errors &&
                registerForm.get('phone')?.touched
              "
            >
              <p
                class="text-danger mb-1"
                *ngIf="registerForm.get('phone')?.getError('required')"
              >
                رقم الهاتف مطلوب
              </p>
            </div>
          </div>

          <div class="w-100">
            <div
              [class.error]="
                registerForm.get('nationalid')?.errors &&
                registerForm.get('nationalid')?.touched
              "
              class="d-flex gap-2 align-items-center input-field px-4"
            >
              <img src="./assets/imgs/icons/id.png" alt="id icon" />

              <input
                class="py-3"
                type="text"
                formControlName="nationalid"
                placeholder="الرقم القومي/جواز السفر"
              />
            </div>

            <div
              class="alerts"
              *ngIf="
                registerForm.get('nationalid')?.errors &&
                registerForm.get('nationalid')?.touched
              "
            >
              <p
                class="text-danger mb-1"
                *ngIf="registerForm.get('nationalid')?.getError('required')"
              >
                الرقم القومي/جواز السفر مطلوب
              </p>
            </div>
          </div>
        </div>

        <!-- password field -->
        <div class="input-box my-3">
          <div
            [class.error]="
              registerForm.get('password')?.errors &&
              registerForm.get('password')?.touched
            "
            class="input-field d-flex gap-2 align-items-center px-4"
          >
            <img src="./assets/imgs/icons/lock.png" alt="lock icon" />
            <input
              class="py-3"
              [type]="passwordVisibility ? 'text' : 'password'"
              formControlName="password"
              placeholder="كلمة المرور"
            />
            <img
              (click)="togglePasswordVisibility('password')"
              class="eye"
              [src]="
                passwordVisibility
                  ? 'assets/imgs/icons/closed-eye.png'
                  : 'assets/imgs/icons/opened-eye.png'
              "
              alt="opened eye icon"
            />
          </div>

          <div
            class="alerts"
            *ngIf="
              registerForm.get('password')?.errors &&
              registerForm.get('password')?.touched
            "
          >
            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('password')?.getError('required')"
            >
              كملة السر مطلوبة
            </p>

            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('password')?.getError('minlength')"
            >
              يجب أن تكون كلمة المرور اكبر من 8 حروف
            </p>

            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('password')?.getError('pattern')"
            >
              يجب ان يحتوي كلمة المرور علي ارقام واحرف
            </p>
          </div>
        </div>

        <!-- confirm password field -->
        <div class="input-box my-3">
          <div
            [class.error]="
              registerForm.get('confirm_password')?.errors &&
              registerForm.get('confirm_password')?.touched
            "
            class="input-field d-flex gap-2 align-items-center px-4"
          >
            <img src="./assets/imgs/icons/lock.png" alt="lock icon" />
            <input
              class="py-3"
              [type]="confirmPasswordVisibility ? 'text' : 'password'"
              formControlName="confirm_password"
              placeholder="تاكيد كلمة المرور"
            />
            <img
              (click)="togglePasswordVisibility('confirm_password')"
              class="eye"
              [src]="
                confirmPasswordVisibility
                  ? 'assets/imgs/icons/closed-eye.png'
                  : 'assets/imgs/icons/opened-eye.png'
              "
              alt="eye icon"
            />
          </div>

          <div
            class="alerts"
            *ngIf="
              registerForm.get('confirm_password')?.errors &&
              registerForm.get('confirm_password')?.touched
            "
          >
            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('confirm_password')?.getError('required')"
            >
              يجب تأكيد كملة المرور
            </p>

            <p
              class="text-danger mb-1"
              *ngIf="registerForm.get('confirm_password')?.getError('notMatch')"
            >
              كلمة المرور غير متطابقة
            </p>
          </div>
        </div>

        <p
          class="mb-0 text-danger mx-auto text-center"
          dir="ltr"
          *ngIf="errMsg"
        >
          {{ errMsg }}
        </p>
      </div>

      <div
        class="form-controls d-flex align-items-center justify-content-between mb-3"
      >
        <button
          class="btn secondary-btn"
          [disabled]="registerForm.invalid"
          #submitBtn
        >
          تسجيل حساب
        </button>
        <label
          for="termsAndConditions"
          class="d-flex gap-2 align-items-center fw-ligher"
        >
          اوفق علي الشروط ولاحكام
          <input
            type="checkbox"
            name="termsAndConditions"
            id="termsAndConditions"
        /></label>
      </div>
    </form>

    <div class="separator d-flex align-items-center gap-3">
      <div class="line"></div>
      <p class="mb-0">أو</p>
      <div class="line"></div>
    </div>

    <div class="social-methods">
      <div class="method w-100 p-3 my-2 d-flex gap-2 align-items-center">
        <img src="./assets/imgs/icons/google.png" alt="google icon" />
        <p class="mb-0 fw-lighter">التسجيل باستخدام جوجل</p>
      </div>
      <div class="method w-100 p-3 d-flex gap-2 align-items-center">
        <img src="./assets/imgs/icons/facebook.png" alt="facebook icon" />
        <p class="mb-0 fw-lighter">التسجيل باستخدام فيسبوك</p>
      </div>
    </div>
  </div>
</div>
