.hero {
  height: 800px;
  padding: 10px 100px;
  .container-fluid {
    overflow: hidden;
    border-radius: 20px;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      animation: slide-right 2s;
      overflow: hidden;

      .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(
          269.41deg,
          rgba(74, 89, 79, 0.75) 43.36%,
          rgba(74, 89, 79, 0.75) 110.68%
        );
      }

      .blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        backdrop-filter: blur(10px);
      }
    }

    .heading {
      color: white;
      h1 {
        font-size: 5rem;
        span {
          color: #e5bf7d;
        }
      }
      p {
        font-size: 1.5rem;
      }
    }

    .house {
      width: 900px;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    .shape {
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.contact-methods {
  padding: 30px 100px !important;
  .col-lg-6 {
    .method {
      background: #ecd09f;
      border-radius: 30px;
      transition: 0.5s;
      h2 {
        color: #3f514a;
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
      .border-top {
        border-top: 1px solid #3f514a !important;
      }
      h3 {
        color: #3f514a;
      }
      img {
        width: 145px;
        height: 145px;
      }
    }
    .method:hover {
      transform: scale(1.03);
    }
  }

  &:nth-child(2) {
    .col-12 {
      .method {
        img {
          width: 115px;
          height: 115px;
        }
      }
    }
  }
}

.contact {
  background: #3f514a;
  .heading {
    padding-top: 180px;
    h2 {
      color: #ecd09f;
    }
    p {
      color: #fff;
      text-align: justify;
      font-size: 1.2rem;
    }
    .social {
      a {
        transition: 0.5s;
        width: 50px;
        height: 50px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        text-decoration: none;
        i {
          color: #3f514a;
          font-size: 25px;
        }
      }
      a:hover {
        transform: translateY(-10px);
      }
    }
  }

  .form-container {
    background: white;
    border-radius: 10px;
    form {
      .inputs-container {
        .input-field {
          background: #f3f3f3;
          border-radius: 8px;
          border: 1px solid #f3f3f3;
          transition: 0.3s;
          input,
          select,
          textarea {
            background: transparent;
            outline: none;
            border: 0;
            width: 100%;
            font-size: 1.2rem;
            font-weight: light;
          }
          img {
            width: 25px;
            height: 25px;
            &.eye {
              cursor: pointer;
            }
          }
          &:focus-within {
            background-color: #d7e9e2;
            border: 1px solid #3f514a;
          }
        }
      }

      .form-controls {
        .secondary-btn {
          padding: 10px 35px;
          font-size: 1rem;
          transition: 0.5s;
          &:hover {
            background: #ecd09f;
            color: #3f514a;
          }
          &:disabled {
            background: #3f514a;
            color: #fff;
          }
        }
      }
    }
  }
}

.location {
  background: linear-gradient(#0a0b0a82, #0a0b0a82),
    url("../../../../../assets/imgs/contact imgs/map background.png");

  .our-location {
    background: #f5e7cf;
    z-index: 0;
    border-radius: 16px;
    .background {
      bottom: 0px;
      left: 0px;
      width: 85%;
      height: 60%;
      background: #3f514a;
      border-radius: 0 16px 0 16px;
      z-index: -1;
    }

    h3,
    p {
      color: #3f514a;
    }
    .branches-locations {
      .branch {
        color: #f5e7cf;
        .branch-img {
          width: 65px;
          height: 65px;
          border-radius: 100%;
          overflow: hidden;
          background-color: #f5e7cf;
          img {
            border-radius: 100%;
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }

  .map {
    border-radius: 16px;
    overflow: hidden;
  }
}

.faqs {
  .heading {
    p {
      color: #8b8b8b;
      font-size: 1.2rem;
    }

    .buttons {
      .btn {
        border: 1px solid #3f514a;
        color: #3f514a;
        border-radius: 30px;
        padding: 4px 35px;
        &.active {
          background: #3f514a;
          color: #fff;
        }
      }
    }
  }

  .faq {
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    display: grid;
    grid-template-rows: 1.8em 0fr;
    h4 {
      color: #000;
      font-size: 25px;
      transition: 0.5s;
    }
    i {
      cursor: pointer;
    }
    p {
      color: #919191;
      font-size: 1rem;
    }

    &.expand {
      cursor: auto;
      grid-template-rows: 1.8em 1fr;

      h4 {
        font-size: 32px;
        color: #3f514a;
        margin-bottom: 15px !important;
      }
    }
  }
}

@media (max-width: 1666px) {
  .hero {
    padding: 20px 50px;
    .container-fluid {
      .heading {
        h1 {
          font-size: 75px;
        }
        p {
          font-size: 18px;
        }
      }

      .house {
        width: 800px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .hero {
    .container-fluid {
      padding-top: 100px;
      align-items: start !important;
      .heading {
        h1 {
          font-size: 75px;
        }
        p {
          font-size: 18px;
        }
      }

      .house {
        width: 700px;
      }
      .shape {
        left: -180px;
      }
    }
  }

  .contact-methods {
    padding: 20px 10px !important;
  }
}

@media (max-width: 991px) {
  .hero {
    .container-fluid {
      align-items: start !important;
      .heading {
        h1 {
          font-size: 75px;
        }
        p {
          font-size: 18px;
        }
      }

      .house {
        width: 600px;
      }
      .shape {
        left: -180px;
      }
    }
  }

  .contact-methods {
    .method {
      flex-direction: row !important;
      img {
        width: 115px !important;
        height: 115px !important;
      }
      .title {
        display: block !important;
        text-align: right !important;
      }
      p {
        font-weight: 400 !important;
        margin-bottom: 0 !important;
      }
      h3 {
        display: none !important;
      }
    }
  }

  .contact {
    padding: 40px 10px !important;
    .heading {
      padding-top: 0px;
      width: 100%;
      padding-left: 0 !important;

      p {
        width: 100% !important;
      }
    }

    .form-container {
      padding: 20px !important;
      form {
        .inputs-container {
          margin-bottom: 30px !important;
        }
        .form-controls {
          display: block !important;
          .secondary-btn {
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }

  .location {
    .row {
      padding: 0 !important;
    }
    .our-location {
      .background {
        width: 87%;
      }
    }

    .map {
      min-height: 450px;
    }
  }

  .faqs {
    .col-12 {
      width: 100% !important;
    }
    .faq {
      h4 {
        font-size: 16px;
      }

      p {
        font-size: 16px;
      }

      &.expand {
        h4 {
          font-size: 23px;
        }
      }
    }
  }
}

@media (max-width: 635px) {
  .hero {
    padding: 10px 10px 10px;
    height: 600px;
    .container-fluid {
      padding: 50px 20px 0 !important;
      .heading {
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 16px;
        }
      }

      .house {
        width: 500px;
        // right: -200px;
      }
      .shape {
        width: 250%;
        left: -400px;
      }
    }
  }

  .contact-methods {
    .method {
      padding: 20px 20px !important;
      flex-direction: row !important;
      border-radius: 15px !important;
      img {
        width: 70px !important;
        height: 70px !important;
      }
      .title {
        display: block !important;
        text-align: right !important;
      }
      h2 {
        font-size: 1.8rem !important;
      }
      p {
        width: 100% !important;
        font-weight: 400 !important;
        margin-bottom: 0 !important;
        font-size: 0.8rem !important;
      }
      h3 {
        display: none !important;
      }
    }
  }

  .contact {
    background: #3f514a;
    .heading {
      h2 {
        color: #ecd09f;
      }
      p {
        color: #fff;
        text-align: justify;
        font-size: 1.1rem;
      }
      .social {
        a {
          transition: 0.5s;
          width: 50px;
          height: 50px;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          text-decoration: none;
          i {
            color: #3f514a;
            font-size: 25px;
          }
        }
        a:hover {
          transform: translateY(-10px);
        }
      }
    }

    .form-container {
      form {
        .inputs-container {
          .input-field {
            input,
            select,
            textarea {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .hero {
    padding: 10px 10px 0px;

    .container-fluid {
      padding: 30px 20px 0 !important;
      .heading {
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1rem;
        }
      }

      .house {
        width: 100%;
        // right: -200px;
      }
      .shape {
        width: 250%;
        left: -400px;
      }
    }
  }
}
