<div class="container p-5">
  <h2 class="fw-bold text-center">تقييم JPS</h2>

  <form [formGroup]="feedback" (ngSubmit)="onSubmit()">
    <div
      dir="ltr"
      class="rating d-flex flex-column justify-content-center align-items-center mb-4"
    >
      <h3 class="fw-normal mb-0 mt-4">{{ currentRate }} / 5</h3>
      <ngb-rating
        formControlName="rating"
        [max]="maxRate"
        (rateChange)="updateRating($event)"
      >
        <ng-template let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <i class="fa-solid fa-star"></i>
          </span>
        </ng-template>
      </ngb-rating>
    </div>

    <div class="review-inputs d-flex justify-content-around gap-1 mb-3">
      <div class="review-input px-2">
        <p class="title mb-2">دقة السايت</p>
        <div class="input-field d-flex align-items-center gap-1">
          <img src="./assets/imgs/icons/checked.png" alt="checked icon" />
          <input
            dir="ltr"
            type="number"
            class="form-control py-0"
            name="accuracyNumber"
            formControlName="accuracy"
            id="accuracyNumber"
            min="1"
            max="5"
          />
        </div>
      </div>

      <div class="review-input px-2">
        <p class="title mb-2">سهولة السايت</p>
        <div class="input-field d-flex align-items-center gap-1">
          <img src="./assets/imgs/icons/global click.png" alt="checked icon" />
          <input
            dir="ltr"
            type="number"
            class="form-control py-0"
            name="easyNumber"
            id="easyNumber"
            formControlName="ease"
            min="1"
            max="5"
          />
        </div>
      </div>
      <div class="review-input px-2">
        <p class="title mb-2">مدى الاستجابة</p>
        <div class="input-field d-flex align-items-center gap-1">
          <img src="./assets/imgs/icons/crown vector.png" alt="checked icon" />
          <input
            dir="ltr"
            type="number"
            class="form-control py-0"
            name="performanceNumber"
            id="performanceNumber"
            formControlName="response_level"
            min="1"
            max="5"
          />
        </div>
      </div>
    </div>

    <div class="review-body">
      <textarea
        class="p-3"
        name="reviewContent"
        id="reviewContent"
        rows="5"
        formControlName="feedback"
        (input)="onInput($event)"
        placeholder="تعليقك ......"
      ></textarea>
      <p>
        {{ feedback.get("feedback")?.value?.length || 0 }} / {{ maxChars }} كلمة
      </p>
    </div>

    <div class="buttons d-flex justify-content-between align-items-center">
      <button class="btn secondary-btn fw-light py-2 px-4">
        <i class="fa-solid fa-star"></i>
        اكتب تعليقك
      </button>

      <button class="btn" (click)="closeRatingModal()">اغلاق</button>
    </div>
  </form>
</div>
