<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  template="<img src='./assets/imgs/new logo animation.gif'/>"
></ngx-spinner>
<app-main-nav-bar></app-main-nav-bar>

<section class="hero overflow-hidden">
  <div
    class="container-fluid position-relative h-100 d-flex align-items-center px-5"
  >
    <div class="background">
      <img src="./assets/imgs/popular-wallpaper.png" alt="background image" />
      <div class="gradient"></div>
      <div class="blur"></div>
    </div>
    <div class="row w-100">
      <div class="col-xl-4">
        <div class="heading">
          <h1>عن <span>شركتنا</span></h1>
          <p>
            نحن شركة متخصصة في تقديم خدمات تأجير الوحدات بطريقة مبتكرة
            واحترافية. نعمل لتوفير تجربة إيجار سلسة ومريحة تلبي احتياجات
            المستأجرين والمالكين على حدٍ سواء، مع التركيز على تقديم خدمات عالية
            الجودة تضمن الراحة والتميز في كل خطوة.
          </p>
          <button class="btn primary-btn">
            <img src="./assets/imgs/About Imgs/down-right-arrow.png" />
          </button>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="image position-absolute">
          <img src="./assets/imgs/About Imgs/hero image.png" alt="about us" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Figma modification -->

<section class="mission overflow-hidden" id="our_goals">
  <div class="container my-5">
    <h2 class="h1 mb-4">اهدافنا</h2>
    <p>
      في <span class="fw-bold">Groups JPS</span>، نلتزم بتقديم تجربة إيجار
      مبتكرة وسهلة تضمن الراحة والكفاءة لجميع الأطراف، سواء المستأجرين أو
      المالكين، من خلال منصة إلكترونية متطورة تجعل عملية الإيجار أكثر احترافية
      ومرونة من خلال عدة عوامل من خلالها :
    </p>

    <div class="row g-md-5 g-3">
      <div class="col-6">
        <ul class="h-100 m-0 p-0">
          <h5 class="mb-4">1.الدعم و المتابعة</h5>
          <li class="mb-3">
            <h6>خدمة عملاء مميزة:</h6>
            <p class="mb-0">
              فريقنا متاح دائمًا لحل أي استفسار أو مشكلة لضمان تجربة إيجار خالية
              من المشاكل.
            </p>
          </li>
          <li>
            <h6>لتطوير المستمر:</h6>
            <p class="mb-0">
              نعمل على الاستماع لاحتياجات العملاء وتطوير خدماتنا باستمرار لتقديم
              تجربة شاملة واحترافية تجعلنا الخيار الأمثل.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="h-100 m-0 p-0">
          <h5 class="mb-4">2.سهولة الوصول والخدمات الإلكترونية</h5>
          <li class="mb-3">
            <h6>بحث سريع وسهل:</h6>
            <p class="mb-0">
              يمكن للعملاء تصفح الوحدات واختيار الأنسب بسهولة عبر منصتنا.
            </p>
          </li>
          <li>
            <h6>حجز ودفع آمن:</h6>
            <p class="mb-0">
              تتم عملية الحجز والدفع بشكل مرن وآمن على مدار الساعة، من أي مكان
              وفي أي وقت.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="h-100 m-0 p-0">
          <h5 class="mb-4">3.خدماتنا الإضافية</h5>
          <li class="mb-3">
            <!-- inner list -->
            <h6>صور تقليدية عالية الجودة:</h6>
            <ul class="h-100 m-0 p-0">
              <h6>- مع وصف دقيق للوحدات يشمل:</h6>
              <li>
                <ul class="h-100 m-0 p-0">
                  <li>التفاصيل الداخلية</li>
                  <li>لخدمات الخارجية</li>
                  <li>الأسعار والشروط</li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <!-- inner list -->
            <h6>الجولات الافتراضية:</h6>
            <p class="mb-0">
              تمنح العملاء حرية مراجعة الوحدة عدة مرات قبل اتخاذ قرار الحجز
            </p>
          </li>
        </ul>
      </div>

      <div class="col-6">
        <ul class="h-100 m-0 p-0">
          <h5 class="mb-4">4.تكنولوجيا حديثة لتجربة أفضل</h5>
          <li class="mb-3">
            <h6>تصوير ثلاثي الأبعاد بتقنية 360°:</h6>
            <p class="mb-0">
              نمنح عملاءنا رؤية شاملة للوحدات وكأنهم يتواجدون فيها فعليًا، مع
              صور مطابقة للواقع دون تعديلات، لتعزيز الشفافية وتقليل التوقعات غير
              الواقعية.
            </p>
          </li>
          <li>
            <h6>تفاصيل دقيقة:</h6>
            <p class="mb-0">
              تُظهر التقنية الزوايا الخفية التي قد لا تظهر في الصور التقليدية،
              مما يساعد العملاء على اتخاذ قرارات دقيقة بثقة وسهولة.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="vision p-5 overflow-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="image h-100" data-aos="fade-down-left">
          <img src="./assets/imgs/About Imgs/vision image.png" alt="image" />
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-end pb-5">
        <div class="heading p-5" data-aos="fade-right">
          <div class="title d-flex align-items-center gap-4 mb-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <img src="./assets/imgs/icons/lamp.png" alt="lamp icon" />
            </div>
            <h3 class="h1 mb-0 fw-bolder">رؤيتنا</h3>
          </div>

          <ul class="mb-0 p-0">
            <li>
              في Jps Groups نسعى لأن نكون الخيار الأول في تقديم خدمات التأجير في
              السوق العربية والعالمية، حيث ندمج بين الفخامة والكفاءة لتقديم
              تجربة إيجارية لا مثيل لها.
            </li>
            <li>
              نحن ملتزمون بتقديم خدمات تأجير مبتكرة تواكب تطورات السوق، مع
              التركيز على ضمان تجربة سلسة ومريحة لعملائنا من الأفراد والعائلات
              والشركات على حد سواء.
            </li>
            <li>
              رؤيتنا تتمحور حول تقديم خدمات إيجار مرنة وموثوقة تلبي احتياجات
              العملاء المتنوعة، مدعومة بأحدث التقنيات وأكثرها تطورًا لضمان أعلى
              مستويات الجودة والشفافية.
            </li>
            <li>
              نحن لا نقتصر على تقديم وحدات للإيجار فحسب، بل نسعى لبناء علاقات
              طويلة الأمد مع عملائنا من خلال توفير بيئة إيجارية آمنة ومريحة تعكس
              قيمنا في النزاهة والاحترافية.
            </li>
            <li>
              نطمح في المستقبل القريب إلى توسيع نطاق خدماتنا ليشمل مناطق جديدة
              في مصر، إلى جانب توسيع محفظتنا لتشمل فئات متنوعة من الوحدات وتقديم
              مجموعة واسعة من الاختيارات.
            </li>
            <li>
              هذا التوسع يأتي في إطار سعينا المستمر لتقديم أفضل الخيارات التي
              تواكب احتياجات السوق وتلبي تطلعات عملائنا.
            </li>
            <li>
              من خلال تركيزنا على الابتكار والجودة المستدامة، نؤمن بأننا قادرون
              على إحداث تغيير حقيقي في مفهوم الإيجار في مصر، وتقديم خدمات عالية
              الكفاءة تتميز بالثقة والتميز والأمان والراحة بهدف تعزيز تجربة
              عملائنا ويجعلها استثنائية ويحقق لهم القيمة الحقيقية.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features p-5 overflow-hidden">
  <div class="container py-4">
    <div class="heading text-center mb-3">
      <h3 class="fw-bolder" data-aos="fade-down">قيمنا... أساس نجاحنا</h3>
      <p class="mb-0" data-aos="fade-down" data-aos-delay="50">
        “قيمنا التي تقودنا نحو تقديم تجربة إيجار متميزة وموثوقة.”
      </p>
    </div>

    <div class="row gx-5 gy-3">
      <div class="col-md-6 col-lg-4" *ngFor="let feature of features">
        <div class="card p-5" data-aos="zoom-in">
          <img [src]="feature.icon" class="mb-3" alt="bulding icon" />
          <h4 class="mb-3">{{ feature.title }}</h4>
          <p [innerHTML]="feature.description"></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="staff-member overflow-hidden">
  <div class="container-fluid overflow-hidden py-4">
    <div class="heading text-center mb-sm-5 mb-3">
      <h3 class="fw-bolder mb-3">وراء كل وحدة فريق متخصص</h3>
      <p>
        “فريقنا مُنتقى بعناية لتقديم الدعم والمساعدة بكفاءة ومرونة، مع التركيز
        على تسهيل تجربة الإيجار وضمان راحة عملائنا في كل خطوة.”
      </p>
    </div>

    <owl-carousel-o #staffCarousel [options]="customOptions">
      <ng-container *ngFor="let member of staffMembers">
        <ng-template carouselSlide>
          <div
            class="card position-relative mx-4 px-sm-5 px-3 py-4 d-flex flex-column align-items-center"
          >
            <div
              class="social-overlay d-flex flex-column justify-content-between align-items-end py-4 px-3"
            >
              <a [href]="member.Instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a [href]="member.Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a [href]="member.WhatsApp">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
              <a [href]="member.phone">
                <i class="fa-solid fa-phone"></i>
              </a>
              <a [href]="member.email">
                <i class="fa-solid fa-envelope"></i>
              </a>
              <a href="/host">
                <i class="fa-solid fa-user"></i>
              </a>
              <!-- <a [href]="member.LinkedIn">
                <i class="fab fa-linkedin-in"></i>
              </a> -->
            </div>
            <div class="rating px-3 py-2 mb-3 ms-auto">CEO</div>
            <img
              [src]="member.image"
              class="mb-3 mx-auto"
              alt="staff member image"
            />
            <h4 class="mb-0 mx-auto">Ahmed Gamal</h4>
            <p class="mb-0 mx-auto">{{ member.title }}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

    <div class="carousel-arrows mt-4 px-3 d-flex align-items-center gap-3">
      <button
        #staffPrevBtn
        (click)="triggerPrev('staff')"
        class="prev-btn btn arr-btn d-flex align-items-center justify-content-center"
      >
        <i class="fa-solid fa-arrow-right"></i>
      </button>
      <button
        #staffNextBtn
        (click)="triggerNext('staff')"
        class="next-btn btn arr-btn d-flex align-items-center justify-content-center"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </div>
  </div>
</section>

<!-- Testimonials section -->
<section class="testimonials overflow-hidden py-5">
  <div class="container-fluid my-4">
    <div class="row justify-content-center gx-5 gy-2">
      <div class="col-lg-6">
        <div class="heading d-flex flex-column gap-3">
          <h2 class="h1 title mb-0 fw-bolder" data-aos="fade-left">
            انظر ماذا <br />يقول عملاؤنا!
          </h2>
          <p class="fw-light mb-0" data-aos="fade-left" data-aos-delay="50">
            نحن نفخر بتقديم تجربة مميزة لعملائنا, ونسعى دائماً لتحسين خدماتنا
            بناءً علي ملاحظاتهم القيمة.
            <br />
            تجربتك معنا هي أولويتنا, ونسعد دائماً بما يشاركونه من اراء تساهم في
            تطوير خدماتنا لتلبية احتياجاتكم بشكل أفضل.
          </p>
          <button
            class="btn ms-auto primary-btn d-flex align-items-center gap-2 fw-bold"
            data-aos="fade-left"
            data-aos-delay="70"
            (click)="openFeedbackForm()"
          >
            <i class="fa-solid fa-arrow-right"></i>
            شارك تجربتك معنا الآن
          </button>
          <div
            class="carousel-arrows d-flex align-items-center gap-4"
            data-aos="fade-left"
            data-aos-delay="90"
          >
            <button
              #testimonialsPrevBtn
              (click)="triggerPrev('testimonials')"
              class="prev-btn btn arr-btn"
              disabled
            >
              <i class="fa-solid fa-arrow-right"></i>
            </button>
            <button
              #testimonialsNextBtn
              (click)="triggerNext('testimonials')"
              class="next-btn btn arr-btn"
            >
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="carousel-container h-100">
          <div class="navigation-dots d-flex flex-column gap-2">
            <div #testimonialsDot1 class="dot active-dot"></div>
            <div #testimonialsDot2 class="dot"></div>
            <div #testimonialsDot3 class="dot"></div>
            <div #testimonialsDot4 class="dot"></div>
          </div>

          <div class="carousel overflow-hidden">
            <owl-carousel-o
              #testimonialsCarousel
              [options]="testimonialsOptions"
            >
              <ng-container
                *ngFor="let testimonial of testimonials; let i = index"
              >
                <ng-template carouselSlide>
                  <div
                    #testimonialsCard
                    [ngClass]="{ scaled: i === testimonialsIndex }"
                    class="slide m-5 p-5 pb-4"
                  >
                    <img
                      src="./assets/imgs/quote.png"
                      alt="quote symbol"
                      class="quote-symbol"
                    />
                    <div class="feedback-content">
                      <p class="my-4">{{ testimonial.feedback }}</p>
                    </div>
                    <div
                      class="review-author d-flex justify-content-between align-items-center border-top pt-4"
                    >
                      <div class="author d-flex gap-2 align-items-center">
                        <img
                          [src]="
                            testimonial.user_image
                              ? testimonial.user_image
                              : './assets/imgs/icons/online-user-green.png'
                          "
                          alt="profile-icon"
                        />
                        <h5 class="author-name fw-normal mb-0">
                          {{ testimonial.user_name }}
                        </h5>
                      </div>
                      <div class="rating" dir="ltr">
                        <i
                          [class.rating-color]="testimonial.rating >= num"
                          [class.rating-dark]="testimonial.rating < num"
                          *ngFor="let num of [1, 2, 3, 4, 5]"
                          class="fa-solid fa-star"
                        ></i>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>

            <div
              class="carousel-arrows d-flex align-items-center gap-4 mt-4"
              data-aos="fade-left"
              data-aos-delay="90"
            >
              <button
                #testimonialsPrevBtn
                (click)="triggerPrev('testimonials')"
                class="prev-btn btn arr-btn"
                disabled
              >
                <i class="fa-solid fa-arrow-right"></i>
              </button>
              <button
                #testimonialsNextBtn
                (click)="triggerNext('testimonials')"
                class="next-btn btn arr-btn"
              >
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="tax-record">
  <div class="container">
    <div class="background">
      <img src="./assets/imgs/About Imgs/triangle.png" alt="triangle shape" />
    </div>
    <div class="title d-flex align-items-center gap-4 mb-5">
      <div class="icon d-flex justify-content-center align-items-center">
        <img src="./assets/imgs/icons/verfied.png" alt="verfied icon" />
      </div>
      <h3 class="h1 mb-0 fw-bolder">السجل الضريبي</h3>
    </div>
    <p class="fw-medium mb-5">
      هدفنا هو أن يتمكن الضيوف والمضيفون على jps من الثقة ببعضهم البعض. نطلب من
      المضيفين والضيوف الذين يقومون بالحجز أن يتم التحقق من هويتهم. نحتاج بعض
      المعلومات لمساعدتنا على تأكيد هويتك.
    </p>
    <p class="fw-medium">
      تتعهد jps بأقصى درجات السرية والحماية لبيانات ومعلومات تأكيد هوية مالك
      الوحدة، حيث نؤكد على عدم مشاركتها مع أي مستأجر أو طرف ثالث تحت أي طرف من
      الظروف. نلتزم باستخدام هذه المعلومات فقط لأغراض التحقق من الهوية وتحسين
      جودة وأمان الحدمة المقدمة.
    </p>
    <h4 class="h2 fw-bolder mt-5">رقم السجل الضريبي: ٥٨٥ - ٢٣٢ - ٧٥٩</h4>
    <div class="verified-badge">
      <img src="./assets/imgs/About Imgs/badge.png" alt="verified badge" />
    </div>
  </div>
</section> -->

<!-- Footer section -->
<app-footer></app-footer>
