<footer class="px-5">
  <div class="container-fluid p-5">
    <div class="row justify-content-around">
      <div class="col-lg-7">
        <div class="site-links d-flex gap-5">
          <div class="logo d-flex flex-column gap-3">
            <div class="d-flex JPS gap-4 align-items-center">
              <div
                routerLink="/home"
                class="logo-image d-flex align-items-center justify-content-center"
              >
                <img src="./assets/imgs/logo.png" alt="JPS LOGO" />
              </div>

              <div class="title">
                <h2 class="h4 mb-0 text-start rubik">JPS GROUPS</h2>
                <p class="mb-0 text-start fw-lighter rubik">
                  Real Estate Service
                </p>
              </div>
            </div>

            <p class="mb-0 fw-light w-75">
              نقدم لك تجربة إيجار راقية تضمن لك الراحة والفخامة في كل خطوة
            </p>

            <div class="social d-flex gap-2">
              <a href="#">
                <!-- <img
                  src="./assets/imgs/icons/instagramSocial.png"
                  alt="instagram"
                /> -->
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#">
                <!-- <img
                  src="./assets/imgs/icons/facebookicon.png"
                  alt="facebook"
                 /> -->
                <i class="fab fa-facebook-f"></i>
              </a>

              <a href="#">
                <!-- <img src="./assets/imgs/icons/whatsapp.png" alt="whatsapp"
                /> -->
                <i class="fab fa-whatsapp"></i>
              </a>

              <a href="#">
                <!-- <img src="./assets/imgs/icons/tiktok.png" alt="tiktok"
                /> -->
                <i class="fa-solid fa-phone fs-6"></i>
              </a>

              <a href="#">
                <!-- <img src="./assets/imgs/icons/tiktok.png" alt="tiktok"
                /> -->
                <i class="fa-brands fa-tiktok"></i>
              </a>
            </div>
          </div>

          <div class="website-links d-flex gap-5">
            <!-- <div class="links">
              <h3 class="title h4">الرئيسية</h3>
              <ul class="mb-0 px-0">
                <li class="p-0 py-1 fw-medium">
                  <a routerLink="/home" fragment="popular_districts">
                    الاحياء الأكثر بحثا
                  </a>
                </li>
                <li class="p-0 py-1 fw-medium">
                  <a routerLink="/home" fragment="popular_apartment"
                    >الشققق المميزة
                  </a>
                </li>
                <li class="p-0 py-1 fw-medium">
                  <a routerLink="/home" fragment="about_JPS">نبذة عن JPS</a>
                </li>
                <li class="p-0 py-1 fw-medium">
                  <a routerLink="/home" fragment="testimonials">اراء العملاء</a>
                </li>
              </ul>
            </div> -->

            <!-- <div class="links">
              <h3 class="title h4">الخدمات</h3>
              <ul class="mb-0 px-0">
                <li class="p-0 py-1 fw-medium"><a href="#"> خدمة 1 </a></li>
                <li class="p-0 py-1 fw-medium"><a href="#">خدمة 2</a></li>
                <li class="p-0 py-1 fw-medium"><a href="#">خدمة 3</a></li>
              </ul>
            </div> -->
            <div class="links">
              <h3 class="title h4 fw-bold">الدعم</h3>
              <ul class="mb-0 px-0">
                <li class="p-0 py-1 fw-normal d-flex align-items-center gap-2">
                  <img src="./assets/imgs/icons/telephone.png" alt="icon" />
                  <a routerLink="/contact"> اتصل بنا </a>
                </li>
                <li class="p-0 py-1 fw-normal d-flex align-items-center gap-2">
                  <img
                    src="./assets/imgs/icons/question_footer.png"
                    alt="icon"
                  />
                  <a routerLink="/about">عن الشركة </a>
                </li>
                <li class="p-0 py-1 fw-normal d-flex align-items-center gap-2">
                  <img src="./assets/imgs/main-logo.png" alt="icon" />
                  <a routerLink="/how-it-works"
                    >كيف يعمل <span class="rubik">JPS Groups</span></a
                  >
                </li>
                <li class="p-0 py-1 fw-normal d-flex align-items-center gap-2">
                  <img src="./assets/imgs/icons/star_footer.png" alt="icon" />
                  <a routerLink="/rates">تقييمات واراء العملاء بنا</a>
                </li>
                <li class="p-0 py-1 fw-normal d-flex align-items-center gap-2">
                  <a routerLink="/rates">الخصوصية</a>
                  <span class="dot"></span>
                  <a routerLink="/rates">الشروط والاحكام</a>
                </li>
              </ul>
            </div>

            <!-- <div class="links">
              <h3 class="title h4">عن الشركة</h3>
              <ul class="mb-0 px-0">
                <li class="p-0 py-1 fw-medium"><a routerLink="/about">من نحن </a></li>
                <li class="p-0 py-1 fw-medium">
                  <a routerLink="/our-services"> خدمتنا</a>
                </li>
                <li class="p-0 py-1 fw-medium"><a href="#">وكلائنا الحصريون </a></li>
                <li class="p-0 py-1 fw-medium">
                  <a routerLink="/contact" fragment="faqs">الاسئلة الشائعة </a>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="newsletter me-auto w-75">
          <h4 class="h5">اشترك الان لتصلك أحدث العروض أولا</h4>
          <form>
            <div class="input-field d-flex gap-2 align-items-center px-4">
              <img src="./assets/imgs/icons/mail2.png" alt="mail icon" />
              <input
                class="py-3"
                type="email"
                placeholder="ادخل بريدك الالكتروني"
              />
            </div>
            <button
              type="submit"
              class="btn primary-btn mt-3 fw-bolder d-flex gap-2 align-items-center"
            >
              <i class="fa-solid fa-arrow-right"></i>
              اشترك الان
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
