footer {
  background: #3f514a;
  .site-links {
    color: white;
    .logo {
      .logo-image {
        background: #fafafa56;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        cursor: pointer;

        img {
          width: 60px;
          height: auto;
        }
      }

      .social {
        img {
          width: 35px;
          height: auto;
        }
      }
    }

    .links {
      ul {
        li {
          a {
            color: rgba(255, 255, 255, 0.5);
            font-weight: lighter;
            font-size: 14px;
          }
        }
      }
    }
  }

  .newsletter {
    color: white;
    .input-field {
      background: #f3f3f3;
      border-radius: 8px;
      max-width: 430px;
      input {
        background: transparent;
        outline: none;
        border: 0;
        width: 100%;
        font-size: 18px;
        font-weight: light;
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
    .primary-btn {
      padding: 10px 40px;
      font-size: 18px;
    }
  }
}

@media (max-width: 1222px) {
  footer {
    padding: 50px 0 !important;
    .container-fluid {
      padding: 0 20px !important;
      .site-links {
        .logo {
          .JPS {
            .logo-image {
              width: 80px;
              height: 80px;
              img {
                width: 50px;
              }
            }
            .title {
              h2 {
                font-size: 20px;
              }
              p {
                font-size: 13px;
              }
            }
          }

          .social {
            img {
              width: 30px;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  footer {
    padding: 50px 0 !important;
    .container-fluid {
      padding: 0 20px !important;
      .site-links {
        flex-direction: column;
        .logo {
          .JPS {
            .logo-image {
              width: 80px;
              height: 80px;
              img {
                width: 50px;
              }
            }
            .title {
              h2 {
                font-size: 20px;
              }
              p {
                font-size: 13px;
              }
            }
          }

          .social {
            img {
              width: 30px;
              height: auto;
            }
          }
        }

        .website-links {
          display: flex;
          gap: 30px !important;
          margin-bottom: 50px;
          a {
            font-size: 14px !important;
          }
        }
      }

      .newsletter {
        margin: 0 !important;
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 775px) {
  footer {
    margin-bottom: 95px;
    .links {
      .title {
        font-size: 18px !important;
      }
    }
  }
}
