:host {
  width: 100%;
}
.form-wrapper {
  i {
    cursor: pointer;
  }
  h2 {
    color: #3f514a;
    font-weight: bold;
  }
  form {
    .inputs-container {
      label {
        color: #747474;
        font-size: 25px;
        font-weight: 300;
      }
      .input-field {
        background: #f3f3f3;
        border-radius: 8px;
        border: 1px solid #f3f3f3;
        transition: 0.3s;

        input {
          background: transparent;
          outline: none;
          border: 0;
          width: 100%;
          font-size: 16px;
          font-weight: light;
          &::placeholder {
            color: #b5b5b5;
          }
        }
        img {
          width: 25px;
          height: 25px;
          &.eye {
            cursor: pointer;
          }
        }
        &:focus-within {
          background-color: #d7e9e2;
          border: 1px solid #3f514a;
        }
      }
    }
    button {
      font-size: 25px;
      transition: 0.5s;

      i {
        font-size: 16px;
      }

      &:hover,
      &:focus {
        background: #ecd09f;
        color: #3f514a;
      }
    }
  }

  p {
    color: #1f1f1f63;
    span {
      text-decoration: underline;
      cursor: pointer;
      color: #637f74;
    }
  }
}
app-mobile-navbar {
  display: none;
}
@media (max-width: 775px) {
  h2 {
    text-align: right !important;
    font-size: 30px;
  }
  form {
    .inputs-container {
      label {
        font-size: 18px !important;
        margin-bottom: 10px !important ;
      }
      .input-field {
        width: 100% !important;
      }
    }
    button {
      font-size: 18px !important;
      i {
        font-size: 14px !important;
      }
    }
  }

  app-mobile-navbar {
    display: block;
  }
}
