<app-mobile-navbar></app-mobile-navbar>

<div class="form-wrapper p-5">
  <i class="fa-solid fa-xmark" (click)="close()"></i>

  <h2 class="mb-4 mt-3 text-center">هل نسيت كلمة المرور</h2>

  <div class="form-container w-100">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="inputs-container mb-3">
        <!-- email field -->
        <div class="input-box my-3">
          <label for="emailInput" class="mb-3"> الإيميل </label>
          <div
            [class.error]="
              forgotPasswordForm.get('email')?.errors &&
              forgotPasswordForm.get('email')?.touched
            "
            class="input-field d-flex gap-2 align-items-center px-4"
          >
            <input
              tabindex="-1"
              class="py-3"
              formControlName="email"
              name="emailInput"
              type="email"
              placeholder="أدخل بريدك الإلكتروني لإعادة تعيين كلمة المرور ...
"
            />
          </div>

          <div
            class="alerts"
            *ngIf="
              forgotPasswordForm.get('email')?.errors &&
              forgotPasswordForm.get('email')?.touched
            "
          >
            <p
              class="text-danger mb-1"
              *ngIf="forgotPasswordForm.get('email')?.getError('required')"
            >
              البريد الالكتروني مطلوب
            </p>
          </div>
        </div>
      </div>

      <button
        class="btn secondary-btn w-100 py-2 d-flex align-items-center gap-2 justify-content-center"
      >
        <i class="fa-solid fa-arrow-right"></i>
        ارسل الرابط
      </button>
    </form>

    <p class="mb-0 text-center mt-5">
      ليس لديك حساب؟
      <span (click)="openSignupForm()" class="fw-bold">تسجيل حساب</span>
    </p>
  </div>
</div>
