<div class="container py-5 px-4">
  <i
    class="fa-solid fa-xmark close-icon"
    (click)="closeHotelFeaturesModal()"
  ></i>
  <div class="row">
    <div class="col-lg-6">
      <div class="room-details">
        <div class="room-image-gallery">
          <swiper-container
            class="mySwiper mb-3"
            thumbs-swiper=".mySwiper2"
            space-between="10"
            navigation="true"
          >
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            </swiper-slide>
          </swiper-container>

          <swiper-container
            class="mySwiper2"
            space-between="10"
            slides-per-view="6"
            free-mode="true"
            watch-slides-progress="true"
          >
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            </swiper-slide>
          </swiper-container>
        </div>

        <div class="bed-selection mt-4">
          <h4>قم باختيار السرير المناسب ؟</h4>

          <div class="chips-selection d-flex align-items-center gap-4 mt-3">
            <span class="px-3 py-1 rounded-5 active pointer">غرفة 1</span>
            <span class="px-3 py-1 rounded-5 pointer">غرفة 2</span>
            <span class="px-3 py-1 rounded-5 pointer">غرفة 3</span>
          </div>

          <div class="beds mt-3">
            <swiper-container slides-per-view="3" space-between="10">
              <swiper-slide *ngFor="let item of [1, 2, 3]">
                <div class="card">
                  <img
                    class="bed-image rounded-3"
                    src="https://swiperjs.com/demos/images/nature-1.jpg"
                  />
                  <div class="card-body d-flex gap-1 p-1">
                    <div class="select">
                      <p-checkbox
                        [(ngModel)]="checked"
                        [binary]="true"
                        inputId="binary"
                      />
                    </div>
                    <div class="bed">
                      <h6>سرير 2</h6>
                      <div class="price d-flex align-items-center gap-2">
                        <img
                          src="./assets/imgs/icons/cash.png"
                          alt="cash icon"
                        />
                        <p class="mb-0">500 جنيه / يوم</p>
                      </div>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>

          <div
            class="controls mt-4 d-flex align-items-center justify-content-between"
          >
            <div
              class="rooms-number-input d-flex align-items-center justify-content-center gap-2"
            >
              <span>+</span>
              <input type="number" value="1" />
              <span>-</span>

              <div class="room-quantity">
                <p class="mb-0">3 غرف متوفرة فقط</p>
              </div>
            </div>

            <button class="btn secondary-btn px-5 py-2 fs-5">احجز الان</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h2 class="h5 mt-4 fw-bold">استوديو سوبيريور</h2>
      <ul class="mb-0 p-0" *ngFor="let list of featuresList">
        <h3 class="mt-4 mb-3 text-decoration-underline">
          {{ list.title }}
        </h3>
        <li
          class="d-flex align-items-center gap-2 py-2 border-bottom"
          *ngFor="let listItem of list.features"
        >
          <img [src]="listItem.icon" alt="icon" />
          <p class="mb-0">
            {{ listItem.name }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
