<div class="modal-wrapper p-4">
  <div class="title mb-4">
    <h3 class="h5 fw-bold">تعديل كلمة السر</h3>
    <p class="mb-0">
      قم بإجراء التغييرات على كملة السر هنا. انقر فوق "حفظ" عند الانتهاء.
    </p>
  </div>

  <form [formGroup]="editPassword" (ngSubmit)="onSubmit()">
    <div class="input-box my-3">
      <label for="currentPassword" class="fw-semibold mb-2"
        >كلمة المرور الحالية
      </label>
      <div
        class="input-field d-flex gap-2 align-items-center px-4"
        [class.error]="
          editPassword.get('old_password')?.errors &&
          editPassword.get('old_password')?.touched
        "
      >
        <input
          type="password"
          class="py-1"
          name="currentPassword"
          [type]="oldPasswordVisibility ? 'text' : 'password'"
          formControlName="old_password"
        />
        <img
          (click)="togglePasswordVisibility('old_password')"
          class="eye"
          [src]="
            oldPasswordVisibility
              ? 'assets/imgs/icons/closed-eye.png'
              : 'assets/imgs/icons/opened-eye.png'
          "
          alt="eye icon"
        />
      </div>
      <p
        class="mb-0 text-danger"
        *ngIf="
          editPassword.get('old_password')?.errors &&
          editPassword.get('old_password')?.touched
        "
      >
        <span *ngIf="editPassword.get('old_password')?.getError('required')">
          كلمة السر القديمة مطلوبة !
        </span>
      </p>
    </div>

    <div class="input-box my-3">
      <label for="newPassword" class="fw-semibold mb-2"
        >كلمة المرور الجديدة</label
      >
      <div
        class="input-field d-flex gap-2 align-items-center px-4"
        [class.error]="
          editPassword.get('new_password')?.errors &&
          editPassword.get('new_password')?.touched
        "
      >
        <input
          type="password"
          class="py-1"
          name="newPassword"
          [type]="newPasswordVisibility ? 'text' : 'password'"
          formControlName="new_password"
        />
        <img
          (click)="togglePasswordVisibility('new_password')"
          class="eye"
          [src]="
            newPasswordVisibility
              ? 'assets/imgs/icons/closed-eye.png'
              : 'assets/imgs/icons/opened-eye.png'
          "
          alt="eye icon"
        />
      </div>

      <p
        class="mb-0 text-danger"
        *ngIf="
          editPassword.get('new_password')?.errors &&
          editPassword.get('new_password')?.touched
        "
      >
        <span *ngIf="editPassword.get('new_password')?.getError('required')">
          يجب تحديد كلمة سر جديده !
        </span>
      </p>
    </div>

    <p *ngIf="errMsg" class="mb-0 text-center text-danger">{{ errMsg }}</p>

    <div class="d-flex justify-content-start">
      <button
        class="btn secondary-btn me-auto rounded-3"
        #submitBtn
        [disabled]="editPassword.invalid"
      >
        <span *ngIf="!isLoading">حفظ التغييرات</span>
        <span *ngIf="isLoading"
          ><i class="fa-solid fa-spinner fa-spin"></i
        ></span>
      </button>
    </div>
  </form>
</div>
