.search-bar {
  background: white;
  border-radius: 100px;
  cursor: pointer;
  height: 75px;
  padding: 0 2rem 0 13px;
  .icon{
    background-color: #3f514a;
    padding: 17px 23px;
    border-radius: 28px;
  }

  p {
    color: #818181;
  }

  img {
    width: 30px;
    height: auto;
  }
}

@media (max-width: 1199px) {
  .search-bar {
    p {
      display: none;
    }
  }
}
@media (max-width: 450px) {
  .search-bar {
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 10px;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
}
