<app-mobile-navbar></app-mobile-navbar>

<div
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <img src="./assets/imgs/login-guard.png" alt="image" />
  <h2>قم بتسجيل الدخول اولا</h2>
  <p>لتتمكن من مشاهدة حسابك</p>
  <div class="button d-flex flex-column w-100 gap-3">
    <button class="btn py-2 secondary-btn" routerLink="/auth/register">
      تسجيل حساب جديد
    </button>
    <button class="btn py-2 outlined-btn" routerLink="/auth/login">
      تسجيل دخول
    </button>
  </div>
</div>
