nav {
  position: absolute;
  width: 100%;
  color: white;
  z-index: 40;
  .logo {
    position: relative;
    .logo-image {
      background: #fafafa56;
      width: 70px;
      height: 70px;
      border-radius: 10px;
      cursor: pointer;

      img {
        width: 40px;
        height: auto;
      }
    }
    .title {
      p {
        font-size: 11px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 2px;
      height: 80%;
      background: white;
      border-radius: 1px;
    }
  }

  .nav-items {
    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      &.active-link {
        font-weight: 600 !important;
      }
    }
  }

  .nav-controls {
    .control-btn {
      background: transparent;
      color: white;
      border: 0;
      outline: none;
      font-weight: 300;
      font-size: 18px;
    }

    .profile-dropdown-btn {
      position: relative;
      padding: 5px 20px 5px 8px;
      border: 1px solid white;
      background: #ffffff2a;
      backdrop-filter: blur(5px);
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
      }

      .dropdown-menu {
        position: absolute;
        margin-top: 10px;
        top: 100% !important;
        left: 20px !important;
        display: block;
        max-width: 0px;
        min-width: 0px;
        max-height: 0;
        overflow: hidden;
        transform-origin: top left;
        pointer-events: none;
        transition: 0.5s;
        border: 0;

        &.showDropdown {
          max-width: 200px;
          min-width: 200px;
          max-height: 300px;

          pointer-events: all;
        }

        ul {
          li,
          a {
            font-size: 16px;
            font-weight: 300;
            color: #686868;
            width: fit-content;
            transition: 0.3s;
            text-decoration: none;
            &:hover {
              font-weight: 400;
              color: #000;
            }
          }
          &.user-auth-options {
            border-bottom: 1px solid #959595;
          }
        }
      }
    }
  }
}

.currency-popup {
  width: 700px;
  background: white;
  border-radius: 20px;
  i {
    cursor: pointer;
    color: #222;
  }

  h3 {
    color: #222;
  }
  .currency {
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: #222;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s;

    &.active,
    &:hover {
      border: 1px solid #222;
    }
  }
}

app-mobile-navbar {
  display: none;
}

@media (max-width: 1310px) {
  nav {
    .navbar {
      width: 90% !important;

      .logo {
        .logo-image {
          width: 50px;
          height: 50px;
          img {
            width: 30px;
          }
        }
        .title {
          h2 {
            font-size: 14px;
          }
          p {
            font-size: 10px;
          }
        }
      }

      .nav-items {
        a {
          font-size: 14px;
        }
      }

      .nav-controls {
        .control-btn {
          font-size: 14px;
        }

        .profile-dropdown-btn {
          img {
            width: 25px;
            height: 25px;
          }

          .dropdown-menu {
            ul {
              li,
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 910px) {
  nav {
    .navbar {
      .title {
        display: none !important;
      }
    }
  }
}

@media (max-width: 775px) {
  nav {
    display: none !important;
  }

  app-mobile-navbar {
    display: block;
  }

  .currency-popup {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .currency-popup {
    height: 100%;
    .currency {
      color: #808080;
    }
  }
}

@media (max-width: 400px) {
  .currency-popup {
    .currency {
      font-size: 16px;
      font-size: 600;
    }
  }
}
